---
---
h1 {
    font-size: 200%
}
h1, h4 {
    margin-bottom: 0
}

.page-header {
    margin-top: 0;
}

.label {
    margin-right: 5px;
}

img {
    max-width: 100%;
    margin: 30px auto 30px auto;
    display: block;
}

#blogPosts {
    margin-bottom: 0px;
    padding-top: 10px;

    .postItem {
      display: inline-block;
      .postTitle {
        margin-bottom: 0;
      }
      .postExcerpt {
        font-size: 95%;
      }
    }
}

.moreBlogs {
    line-height: 2.0em;
}

.postItem {
    margin-bottom: 10px
}
