/*! bulma.io v0.6.1 | MIT License | github.com/jgthms/bulma */
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #363636;
}

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  text-align: left;
  vertical-align: top;
}

table th {
  color: #363636;
}

.hero {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.icon.is-small {
  height: 1rem;
  width: 1rem;
}
.icon.is-medium {
  height: 2rem;
  width: 2rem;
}
.icon.is-large {
  height: 3rem;
  width: 3rem;
}
.hero-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}
.hero.is-dark {
  /*background-image: url("../assets/front-page/carousel-background.png");*/
	background-color: whitesmoke;
  color: whitesmoke;
}
.hero.is-dark a:not(.button), .hero.is-dark strong {
  color: inherit;
}
.hero.is-dark .title {
  color: whitesmoke;
}
.hero.is-dark .subtitle {
  color: rgba(245, 245, 245, 0.9);
}
.hero.is-dark .subtitle a:not(.button), .hero.is-dark .subtitle strong {
  color: whitesmoke;
}
.hero.is-primary {
  background-color: #00d1b2;
  color: #fff;
}
.hero.is-primary a:not(.button), .hero.is-primary strong {
  color: inherit;
}
.hero.is-primary .title {
  color: #fff;
}
.hero.is-primary .subtitle {
  color: rgba(255, 255, 255, 0.9);
}
.hero.is-primary .subtitle a:not(.button), .hero.is-primary .subtitle strong {
  color: #fff;
}
.card {
  background-image: url("../assets/front-page/carousel-background.png");
  -webkit-box-shadow: 0 2px 3px rgba(117, 112, 112, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(122, 111, 111, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #363636;
  max-width: 100%;
  position: relative;
}
.card-content {
  padding: 1.5rem;
}
.media {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
.media .content:not(:last-child) {
  margin-bottom: 0.75rem;
}
.column {
  display: block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
@media screen and (max-width: 768px) {
  .hero-buttons .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-buttons .button:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;
}
.column.is-6, .column.is-6-tablet {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 50%;
}
.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}
.button.is-info.is-outlined {
  background-color: transparent;
  border-color: #209cee;
  color: #209cee;
}
.postItem {
  margin-bottom: 10px;
}
.inline {
  display: inline-block;
  min-width: 268px;
}
.postTitle {
  margin-bottom: 0;
  color: #00d1b2;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.postTitleNew {
  margin-bottom: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.postsubTitle {
  margin-bottom: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 95%;
}
.postsubTitleicon {
  margin-bottom: 0;
  color: #209cee;
  font-family: 'Montserrat', sans-serif;
  font-size: 95%;
}
.postsubTitleBlack {
  margin-bottom: 0;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 95%;
}
/*.postsubTitle.a {
  color: #337ab7;
  text-decoration: none;
}*/
.postsubTitleNew {
  margin-bottom: 0;
  color: #209cee;
  font-family: 'Montserrat', sans-serif;
  font-size: 95%;
  font-weight: bold;
}
/*.postsubTitleNew.a {
  color: #337ab7;
  text-decoration: none;
}*/
.postDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 80%;
  padding: 0;
  margin: 0;
}
.postExcerpt {
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
  color: whitesmoke;
}
.button.is-large {
  font-size: 1.5rem;
}
.button.is-medium {
  font-size: 1.25rem;
}
.title {
  color: #81daf5;
	font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}
.title.is-1 {
  font-size: 3rem;
}
.title.is-2 {
  font-size: 2.5rem;
}
.title.is-3 {
  font-size: 2rem;
}
.title.is-4 {
  font-size: 1.5rem;
}
.title.is-5 {
  font-size: 1.25rem;
}
.title.is-6 {
  font-size: 1rem;
}
.title.is-7 {
  font-size: 0.75rem;
}
.tile {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  background-image: url("../assets/front-page/carousel-background.png");
}
.tile.is-ancestor {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.tile.is-ancestor:last-child {
  margin-bottom: -0.75rem;
}
.tile.is-ancestor:not(:last-child) {
  margin-bottom: 0.75rem;
}
.tile.is-child {
  margin: 0 !important;
}
.tile.is-parent {
  padding: 0.75rem;
}
.tile.is-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 1.5rem !important;
}
@media screen and (min-width: 769px), print {
  .tile:not(.is-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tile.is-1 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 8.33333%;
  }
  .tile.is-2 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 16.66667%;
  }
  .tile.is-3 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%;
  }
  .tile.is-4 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.33333%;
  }
  .tile.is-5 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 41.66667%;
  }
  .tile.is-6 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%;
  }
  .tile.is-7 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 58.33333%;
  }
  .tile.is-8 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 66.66667%;
  }
  .tile.is-9 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 75%;
  }
  .tile.is-10 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 83.33333%;
  }
  .tile.is-11 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 91.66667%;
  }
  .tile.is-12 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
  }
}
.box {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}
.box:not(:last-child) {
  margin-bottom: 1.5rem;
}
a.box:hover, a.box:focus {
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc;
}
a.box:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc;
}
.section {
  padding: 3rem 1.5rem;
}
.notification {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}
.notification:not(:last-child) {
  margin-bottom: 1.5rem;
}
.notification a:not(.button) {
  color: currentColor;
  text-decoration: underline;
}
.notification strong {
  color: currentColor;
}
.notification code, .notification pre {
  background: white;
}
.notification pre code {
  background: transparent;
}
.notification > .delete {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.notification .title, .notification .subtitle, .notification .content {
  color: currentColor;
}
.notification.is-white {
  background-color: white;
  color: #0a0a0a;
}
.notification.is-black {
  background-color: #0a0a0a;
  color: white;
}
.notification.is-light {
  background-color: whitesmoke;
  color: #363636;
}
.notification.is-dark {
  background-color: #363636;
  color: whitesmoke;
}
.notification.is-primary {
  background-color: #00d1b2;
  color: #fff;
}
.notification.is-link {
  background-color: #3273dc;
  color: #fff;
}
.notification.is-info {
  background-color: #209cee;
  color: #fff;
}
.notification.is-success {
  background-color: #23d160;
  color: #fff;
}
.notification.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}
.notification.is-danger {
  background-color: #ff3860;
  color: #fff;
}
.image {
  display: block;
  position: relative;
}
.image img {
  display: block;
  height: auto;
  width: 100%;
}
.image.is-square img, .image.is-1by1 img, .image.is-4by3 img, .image.is-3by2 img, .image.is-16by9 img, .image.is-2by1 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.image.is-square, .image.is-1by1 {
  padding-top: 100%;
}
.image.is-4by3 {
  padding-top: 75%;
}
.image.is-3by2 {
  padding-top: 66.6666%;
}
.image.is-16by9 {
  padding-top: 56.25%;
}
.image.is-2by1 {
  padding-top: 50%;
}
.image.is-16x16 {
  height: 16px;
  width: 16px;
}
.image.is-24x24 {
  height: 24px;
  width: 24px;
}
.image.is-32x32 {
  height: 32px;
  width: 32px;
}
.image.is-48x48 {
  height: 48px;
  width: 48px;
}
.image.is-64x64 {
  height: 64px;
  width: 64px;
}
.image.is-96x96 {
  height: 96px;
  width: 96px;
}
.image.is-128x128 {
  height: 128px;
  width: 128px;
}
.hero.is-black {
  background-color: #0a0a0a;
  color: white;
}
.hero.is-black a:not(.button), .hero.is-black strong {
  color: inherit;
}
.hero.is-black .title {
  color: white;
}
.hero.is-black .subtitle {
  color: rgba(255, 255, 255, 0.9);
}
.hero.is-black .subtitle a:not(.button), .hero.is-black .subtitle strong {
  color: white;
}
.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}
.card-header {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-header-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem;
}
.footer {
/*background-color: whitesmoke;*/
background-image: url("../assets/front-page/carousel-background.png");
padding: 3rem 1.5rem 6rem;
}

.card-footer {
border-top: 1px solid #dbdbdb;
border-bottom: 1px solid #dbdbdb;
border-left: 1px solid #dbdbdb;
border-right: 1px solid #dbdbdb;
-webkit-box-align: stretch;
  -ms-flex-align: stretch;
    align-items: stretch;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.card-footer-item {
-webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-preferred-size: 0;
  flex-basis: 0;
-webkit-box-flex: 1;
  -ms-flex-positive: 1;
    flex-grow: 1;
-ms-flex-negative: 0;
  flex-shrink: 0;
-webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
padding: 0.75rem;
}

.card-footer-item:not(:last-child) {
border-right: 1px solid #dbdbdb;
}
.label {
color: #363636;
display: block;
font-size: 1rem;
font-weight: 700;
}

.label:not(:last-child) {
margin-bottom: 0.5em;
}

.label.is-small {
font-size: 0.75rem;
}

.label.is-medium {
font-size: 1.25rem;
}

.label.is-large {
font-size: 1.5rem;
}
.hero.is-light {
  background-color: whitesmoke;
  color: #363636;
}
.hero.is-light a:not(.button), .hero.is-light strong {
  color: inherit;
}
.hero.is-light .title {
  color: #363636;
}
.hero.is-light .subtitle {
  color: rgba(54, 54, 54, 0.9);
}
.hero.is-light .subtitle a:not(.button), .hero.is-light .subtitle strong {
  color: #363636;
}
.subtitle.is-4 {
  font-size: 1.5rem;
}
.subtitle.is-5 {
  font-size: 1.25rem;
}
.column.is-10, .column.is-10-tablet {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 83.33333%;
}
.column.is-12, .column.is-12-tablet {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
}
.button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning:hover, .button.is-warning.is-hovered {
  background-color: #ffdb4a;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning:focus, .button.is-warning.is-focused {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-warning:focus:not(:active), .button.is-warning.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}
.button.is-warning:active, .button.is-warning.is-active {
  background-color: #ffd83d;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.hero.is-white {
  background-color: white;
  color: #0a0a0a;
}
.hero.is-white a:not(.button), .hero.is-white strong {
  color: inherit;
}
.hero.is-white .title {
  color: #0a0a0a;
}
.hero.is-white .subtitle {
  color: rgba(10, 10, 10, 0.9);
}
.hero.is-white .subtitle a:not(.button), .hero.is-white .subtitle strong {
  color: #0a0a0a;
}
.button.is-info.is-outlined {
  background-color: transparent;
  border-color: #209cee;
  color: #209cee;
}
.button.is-info.is-outlined:hover, .button.is-info.is-outlined:focus {
  background-color: #209cee;
  border-color: #209cee;
  color: #fff;
}
.button.is-info.is-outlined.is-loading:after {
  border-color: transparent transparent #209cee #209cee !important;
}
.column.is-8, .column.is-8-tablet {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 66.66667%;
}
.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #00d1b2;
  color: #00d1b2;
}
363636;
display: block;
font-size: 1rem;
font-weight: 700;
}

.label:not(:last-child) {
margin-bottom: 0.5em;
}

.label.is-small {
font-size: 0.75rem;
}

.label.is-medium {
font-size: 1.25rem;
}

.label.is-large {
font-size: 1.5rem;
}

.help {
display: block;
font-size: 0.75rem;
margin-top: 0.25rem;
}

.help.is-white {
color: white;
}

.help.is-black {
color: #0a0a0a;
}

.help.is-light {
color: whitesmoke;
}

.help.is-dark {
color: #363636;
}

.help.is-primary {
color: #00d1b2;
}

.help.is-link {
color: #3273dc;
}

.help.is-info {
color: #209cee;
}

.help.is-success {
color: #23d160;
}

.help.is-warning {
color: #ffdd57;
}

.help.is-danger {
color: #ff3860;
}

.field:not(:last-child) {
margin-bottom: 0.75rem;
}

.field.has-addons {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
  -ms-flex-pack: start;
    justify-content: flex-start;
}

.field.has-addons .control:not(:last-child) {
margin-right: -1px;
}

.field.has-addons .control:first-child .button,
.field.has-addons .control:first-child .input,
.field.has-addons .control:first-child .select select {
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
}

.field.has-addons .control:last-child .button,
.field.has-addons .control:last-child .input,
.field.has-addons .control:last-child .select select {
border-bottom-right-radius: 3px;
border-top-right-radius: 3px;
}

.field.has-addons .control .button,
.field.has-addons .control .input,
.field.has-addons .control .select select {
border-radius: 0;
}

.field.has-addons .control .button:hover, .field.has-addons .control .button.is-hovered,
.field.has-addons .control .input:hover,
.field.has-addons .control .input.is-hovered,
.field.has-addons .control .select select:hover,
.field.has-addons .control .select select.is-hovered {
z-index: 2;
}

.field.has-addons .control .button:focus, .field.has-addons .control .button.is-focused, .field.has-addons .control .button:active, .field.has-addons .control .button.is-active,
.field.has-addons .control .input:focus,
.field.has-addons .control .input.is-focused,
.field.has-addons .control .input:active,
.field.has-addons .control .input.is-active,
.field.has-addons .control .select select:focus,
.field.has-addons .control .select select.is-focused,
.field.has-addons .control .select select:active,
.field.has-addons .control .select select.is-active {
z-index: 3;
}

.field.has-addons .control .button:focus:hover, .field.has-addons .control .button.is-focused:hover, .field.has-addons .control .button:active:hover, .field.has-addons .control .button.is-active:hover,
.field.has-addons .control .input:focus:hover,
.field.has-addons .control .input.is-focused:hover,
.field.has-addons .control .input:active:hover,
.field.has-addons .control .input.is-active:hover,
.field.has-addons .control .select select:focus:hover,
.field.has-addons .control .select select.is-focused:hover,
.field.has-addons .control .select select:active:hover,
.field.has-addons .control .select select.is-active:hover {
z-index: 4;
}

.field.has-addons .control.is-expanded {
-webkit-box-flex: 1;
  -ms-flex-positive: 1;
    flex-grow: 1;
}

.field.has-addons.has-addons-centered {
-webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
}

.field.has-addons.has-addons-right {
-webkit-box-pack: end;
  -ms-flex-pack: end;
    justify-content: flex-end;
}

.field.has-addons.has-addons-fullwidth .control {
-webkit-box-flex: 1;
  -ms-flex-positive: 1;
    flex-grow: 1;
-ms-flex-negative: 0;
  flex-shrink: 0;
}

.field.is-grouped {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
  -ms-flex-pack: start;
    justify-content: flex-start;
}

.field.is-grouped > .control {
-ms-flex-negative: 0;
  flex-shrink: 0;
}

.field.is-grouped > .control:not(:last-child) {
margin-bottom: 0;
margin-right: 0.75rem;
}

.field.is-grouped > .control.is-expanded {
-webkit-box-flex: 1;
  -ms-flex-positive: 1;
    flex-grow: 1;
-ms-flex-negative: 1;
  flex-shrink: 1;
}

.field.is-grouped.is-grouped-centered {
-webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
}

.field.is-grouped.is-grouped-right {
-webkit-box-pack: end;
  -ms-flex-pack: end;
    justify-content: flex-end;
}

.field.is-grouped.is-grouped-multiline {
-ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.field.is-grouped.is-grouped-multiline > .control:last-child, .field.is-grouped.is-grouped-multiline > .control:not(:last-child) {
margin-bottom: 0.75rem;
}

.field.is-grouped.is-grouped-multiline:last-child {
margin-bottom: -0.75rem;
}

.field.is-grouped.is-grouped-multiline:not(:last-child) {
margin-bottom: 0;
}

@media screen and (min-width: 769px), print {
.field.is-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
}

.field-label .label {
font-size: inherit;
}

@media screen and (max-width: 768px) {
.field-label {
  margin-bottom: 0.5rem;
}
}

@media screen and (min-width: 769px), print {
.field-label {
  -ms-flex-preferred-size: 0;
    flex-basis: 0;
  -webkit-box-flex: 1;
    -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 0;
    flex-shrink: 0;
  margin-right: 1.5rem;
  text-align: right;
}
.field-label.is-small {
  font-size: 0.75rem;
  padding-top: 0.375em;
}
.field-label.is-normal {
  padding-top: 0.375em;
}
.field-label.is-medium {
  font-size: 1.25rem;
  padding-top: 0.375em;
}
.field-label.is-large {
  font-size: 1.5rem;
  padding-top: 0.375em;
}
}

.field-body .field .field {
margin-bottom: 0;
}

@media screen and (min-width: 769px), print {
.field-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0;
    flex-basis: 0;
  -webkit-box-flex: 5;
    -ms-flex-positive: 5;
      flex-grow: 5;
  -ms-flex-negative: 1;
    flex-shrink: 1;
}
.field-body .field {
  margin-bottom: 0;
}
.field-body > .field {
  -ms-flex-negative: 1;
    flex-shrink: 1;
}
.field-body > .field:not(.is-narrow) {
  -webkit-box-flex: 1;
    -ms-flex-positive: 1;
      flex-grow: 1;
}
.field-body > .field:not(:last-child) {
  margin-right: 0.75rem;
}
}

.control {
font-size: 1rem;
position: relative;
text-align: left;
}

.control.has-icon .icon {
color: #dbdbdb;
height: 2.25em;
pointer-events: none;
position: absolute;
top: 0;
width: 2.25em;
z-index: 4;
}

.control.has-icon .input:focus + .icon {
color: #7a7a7a;
}

.control.has-icon .input.is-small + .icon {
font-size: 0.75rem;
}

.control.has-icon .input.is-medium + .icon {
font-size: 1.25rem;
}

.control.has-icon .input.is-large + .icon {
font-size: 1.5rem;
}

.control.has-icon:not(.has-icon-right) .icon {
left: 0;
}

.control.has-icon:not(.has-icon-right) .input {
padding-left: 2.25em;
}

.control.has-icon.has-icon-right .icon {
right: 0;
}

.control.has-icon.has-icon-right .input {
padding-right: 2.25em;
}

.control.has-icons-left .input:focus ~ .icon,
.control.has-icons-left .select:focus ~ .icon, .control.has-icons-right .input:focus ~ .icon,
.control.has-icons-right .select:focus ~ .icon {
color: #7a7a7a;
}

.control.has-icons-left .input.is-small ~ .icon,
.control.has-icons-left .select.is-small ~ .icon, .control.has-icons-right .input.is-small ~ .icon,
.control.has-icons-right .select.is-small ~ .icon {
font-size: 0.75rem;
}

.control.has-icons-left .input.is-medium ~ .icon,
.control.has-icons-left .select.is-medium ~ .icon, .control.has-icons-right .input.is-medium ~ .icon,
.control.has-icons-right .select.is-medium ~ .icon {
font-size: 1.25rem;
}

.control.has-icons-left .input.is-large ~ .icon,
.control.has-icons-left .select.is-large ~ .icon, .control.has-icons-right .input.is-large ~ .icon,
.control.has-icons-right .select.is-large ~ .icon {
font-size: 1.5rem;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
color: #dbdbdb;
height: 2.25em;
pointer-events: none;
position: absolute;
top: 0;
width: 2.25em;
z-index: 4;
}

.control.has-icons-left .input,
.control.has-icons-left .select select {
padding-left: 2.25em;
}

.control.has-icons-left .icon.is-left {
left: 0;
}

.control.has-icons-right .input,
.control.has-icons-right .select select {
padding-right: 2.25em;
}

.control.has-icons-right .icon.is-right {
right: 0;
}

.control.is-loading::after {
-webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
border: 2px solid #dbdbdb;
border-radius: 290486px;
border-right-color: transparent;
border-top-color: transparent;
content: "";
display: block;
height: 1em;
position: relative;
width: 1em;
position: absolute !important;
right: 0.625em;
top: 0.625em;
}

.control.is-loading.is-small:after {
font-size: 0.75rem;
}

.control.is-loading.is-medium:after {
font-size: 1.25rem;
}

.control.is-loading.is-large:after {
font-size: 1.5rem;
}

.icon {
-webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
height: 1.5rem;
width: 1.5rem;
}

.icon.is-small {
height: 1rem;
width: 1rem;
}

.icon.is-medium {
height: 2rem;
width: 2rem;
}

.icon.is-large {
height: 3rem;
width: 3rem;
}

.image {
display: block;
position: relative;
}

.image img {
display: block;
height: auto;
width: 100%;
}

.image.is-square img, .image.is-1by1 img, .image.is-4by3 img, .image.is-3by2 img, .image.is-16by9 img, .image.is-2by1 img {
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
height: 100%;
width: 100%;
}

.image.is-square, .image.is-1by1 {
padding-top: 100%;
}

.image.is-4by3 {
padding-top: 75%;
}

.image.is-3by2 {
padding-top: 66.6666%;
}

.image.is-16by9 {
padding-top: 56.25%;
}

.image.is-2by1 {
padding-top: 50%;
}

.image.is-16x16 {
height: 16px;
width: 16px;
}

.image.is-24x24 {
height: 24px;
width: 24px;
}

.image.is-32x32 {
height: 32px;
width: 32px;
}

.image.is-48x48 {
height: 48px;
width: 48px;
}

.image.is-64x64 {
height: 64px;
width: 64px;
}

.image.is-96x96 {
height: 96px;
width: 96px;
}

.image.is-128x128 {
height: 128px;
width: 128px;
}

.notification {
background-color: whitesmoke;
border-radius: 3px;
padding: 1.25rem 2.5rem 1.25rem 1.5rem;
position: relative;
}

.notification:not(:last-child) {
margin-bottom: 1.5rem;
}

.notification a:not(.button) {
color: currentColor;
text-decoration: underline;
}

.notification strong {
color: currentColor;
}

.notification code,
.notification pre {
background: white;
}

.notification pre code {
background: transparent;
}

.notification > .delete {
position: absolute;
right: 0.5em;
top: 0.5em;
}

.notification .title,
.notification .subtitle,
.notification .content {
color: currentColor;
}

.notification.is-white {
background-color: white;
color: #0a0a0a;
}

.notification.is-black {
background-color: #0a0a0a;
color: white;
}

.notification.is-light {
background-color: whitesmoke;
color: #363636;
}

.notification.is-dark {
background-color: #363636;
color: whitesmoke;
}

.notification.is-primary {
background-color: #00d1b2;
color: #fff;
}

.notification.is-link {
background-color: #3273dc;
color: #fff;
}

.notification.is-info {
background-color: #209cee;
color: #fff;
}

.notification.is-success {
background-color: #23d160;
color: #fff;
}

.notification.is-warning {
background-color: #ffdd57;
color: rgba(0, 0, 0, 0.7);
}

.notification.is-danger {
background-color: #ff3860;
color: #fff;
}

.progress {
-moz-appearance: none;
-webkit-appearance: none;
border: none;
border-radius: 290486px;
display: block;
height: 1rem;
overflow: hidden;
padding: 0;
width: 100%;
}

.progress:not(:last-child) {
margin-bottom: 1.5rem;
}

.progress::-webkit-progress-bar {
background-color: #dbdbdb;
}

.progress::-webkit-progress-value {
background-color: #4a4a4a;
}

.progress::-moz-progress-bar {
background-color: #4a4a4a;
}

.progress::-ms-fill {
background-color: #4a4a4a;
border: none;
}

.progress.is-white::-webkit-progress-value {
background-color: white;
}

.progress.is-white::-moz-progress-bar {
background-color: white;
}

.progress.is-white::-ms-fill {
background-color: white;
}

.progress.is-black::-webkit-progress-value {
background-color: #0a0a0a;
}

.progress.is-black::-moz-progress-bar {
background-color: #0a0a0a;
}

.progress.is-black::-ms-fill {
background-color: #0a0a0a;
}

.progress.is-light::-webkit-progress-value {
background-color: whitesmoke;
}

.progress.is-light::-moz-progress-bar {
background-color: whitesmoke;
}

.progress.is-light::-ms-fill {
background-color: whitesmoke;
}

.progress.is-dark::-webkit-progress-value {
background-color: #363636;
}

.progress.is-dark::-moz-progress-bar {
background-color: #363636;
}

.progress.is-dark::-ms-fill {
background-color: #363636;
}

.progress.is-primary::-webkit-progress-value {
background-color: #00d1b2;
}

.progress.is-primary::-moz-progress-bar {
background-color: #00d1b2;
}

.progress.is-primary::-ms-fill {
background-color: #00d1b2;
}

.progress.is-link::-webkit-progress-value {
background-color: #3273dc;
}

.progress.is-link::-moz-progress-bar {
background-color: #3273dc;
}

.progress.is-link::-ms-fill {
background-color: #3273dc;
}

.progress.is-info::-webkit-progress-value {
background-color: #209cee;
}

.progress.is-info::-moz-progress-bar {
background-color: #209cee;
}

.progress.is-info::-ms-fill {
background-color: #209cee;
}

.progress.is-success::-webkit-progress-value {
background-color: #23d160;
}

.progress.is-success::-moz-progress-bar {
background-color: #23d160;
}

.progress.is-success::-ms-fill {
background-color: #23d160;
}

.progress.is-warning::-webkit-progress-value {
background-color: #ffdd57;
}

.progress.is-warning::-moz-progress-bar {
background-color: #ffdd57;
}

.progress.is-warning::-ms-fill {
background-color: #ffdd57;
}

.progress.is-danger::-webkit-progress-value {
background-color: #ff3860;
}

.progress.is-danger::-moz-progress-bar {
background-color: #ff3860;
}

.progress.is-danger::-ms-fill {
background-color: #ff3860;
}

.progress.is-small {
height: 0.75rem;
}

.progress.is-medium {
height: 1.25rem;
}

.progress.is-large {
height: 1.5rem;
}

.table {
background-color: white;
color: #363636;
margin-bottom: 1.5rem;
}

.table td,
.table th {
border: 1px solid #dbdbdb;
border-width: 0 0 1px;
padding: 0.5em 0.75em;
vertical-align: top;
}

.table td.is-white,
.table th.is-white {
background-color: white;
border-color: white;
color: #0a0a0a;
}

.table td.is-black,
.table th.is-black {
background-color: #0a0a0a;
border-color: #0a0a0a;
color: white;
}

.table td.is-light,
.table th.is-light {
background-color: whitesmoke;
border-color: whitesmoke;
color: #363636;
}

.table td.is-dark,
.table th.is-dark {
background-color: #363636;
border-color: #363636;
color: whitesmoke;
}

.table td.is-primary,
.table th.is-primary {
background-color: #00d1b2;
border-color: #00d1b2;
color: #fff;
}

.table td.is-link,
.table th.is-link {
background-color: #3273dc;
border-color: #3273dc;
color: #fff;
}

.table td.is-info,
.table th.is-info {
background-color: #209cee;
border-color: #209cee;
color: #fff;
}

.table td.is-success,
.table th.is-success {
background-color: #23d160;
border-color: #23d160;
color: #fff;
}

.table td.is-warning,
.table th.is-warning {
background-color: #ffdd57;
border-color: #ffdd57;
color: rgba(0, 0, 0, 0.7);
}

.table td.is-danger,
.table th.is-danger {
background-color: #ff3860;
border-color: #ff3860;
color: #fff;
}

.table td.is-narrow,
.table th.is-narrow {
white-space: nowrap;
width: 1%;
}

.table td.is-selected,
.table th.is-selected {
background-color: #00d1b2;
color: #fff;
}

.table td.is-selected a,
.table td.is-selected strong,
.table th.is-selected a,
.table th.is-selected strong {
color: currentColor;
}

.table th {
color: #363636;
text-align: left;
}

.table tr.is-selected {
background-color: #00d1b2;
color: #fff;
}

.table tr.is-selected a,
.table tr.is-selected strong {
color: currentColor;
}

.table tr.is-selected td,
.table tr.is-selected th {
border-color: #fff;
color: currentColor;
}

.table thead td,
.table thead th {
border-width: 0 0 2px;
color: #363636;
}

.table tfoot td,
.table tfoot th {
border-width: 2px 0 0;
color: #363636;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
border-bottom-width: 0;
}

.table.is-bordered td,
.table.is-bordered th {
border-width: 1px;
}

.table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th {
border-bottom-width: 1px;
}

.table.is-fullwidth {
width: 100%;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
background-color: #fafafa;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
background-color: whitesmoke;
}

.table.is-narrow td,
.table.is-narrow th {
padding: 0.25em 0.5em;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
background-color: #fafafa;
}

.tags {
-webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
  flex-wrap: wrap;
-webkit-box-pack: start;
  -ms-flex-pack: start;
    justify-content: flex-start;
}

.tags .tag {
margin-bottom: 0.5rem;
}

.tags .tag:not(:last-child) {
margin-right: 0.5rem;
}

.tags:last-child {
margin-bottom: -0.5rem;
}

.tags:not(:last-child) {
margin-bottom: 1rem;
}

.tags.has-addons .tag {
margin-right: 0;
}

.tags.has-addons .tag:not(:first-child) {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
}

.tags.has-addons .tag:not(:last-child) {
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}

.tags.is-centered {
-webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
}

.tags.is-centered .tag {
margin-right: 0.25rem;
margin-left: 0.25rem;
}

.tags.is-right {
-webkit-box-pack: end;
  -ms-flex-pack: end;
    justify-content: flex-end;
}

.tags.is-right .tag:not(:first-child) {
margin-left: 0.5rem;
}

.tags.is-right .tag:not(:last-child) {
margin-right: 0;
}

.tag:not(body) {
-webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
background-color: whitesmoke;
border-radius: 3px;
color: #4a4a4a;
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
font-size: 0.75rem;
height: 2em;
-webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
line-height: 1.5;
padding-left: 0.75em;
padding-right: 0.75em;
white-space: nowrap;
}

.tag:not(body) .delete {
margin-left: 0.25em;
margin-right: -0.375em;
}

.tag:not(body).is-white {
background-color: white;
color: #0a0a0a;
}

.tag:not(body).is-black {
background-color: #0a0a0a;
color: white;
}

.tag:not(body).is-light {
background-color: whitesmoke;
color: #363636;
}

.tag:not(body).is-dark {
background-color: #363636;
color: whitesmoke;
}

.tag:not(body).is-primary {
background-color: #00d1b2;
color: #fff;
}

.tag:not(body).is-link {
background-color: #3273dc;
color: #fff;
}

.tag:not(body).is-info {
background-color: #209cee;
color: #fff;
}

.tag:not(body).is-success {
background-color: #23d160;
color: #fff;
}

.tag:not(body).is-warning {
background-color: #ffdd57;
color: rgba(0, 0, 0, 0.7);
}

.tag:not(body).is-danger {
background-color: #ff3860;
color: #fff;
}

.tag:not(body).is-medium {
font-size: 1rem;
}

.tag:not(body).is-large {
font-size: 1.25rem;
}

.tag:not(body) .icon:first-child:not(:last-child) {
margin-left: -0.375em;
margin-right: 0.1875em;
}

.tag:not(body) .icon:last-child:not(:first-child) {
margin-left: 0.1875em;
margin-right: -0.375em;
}

.tag:not(body) .icon:first-child:last-child {
margin-left: -0.375em;
margin-right: -0.375em;
}

.tag:not(body).is-delete {
margin-left: 1px;
padding: 0;
position: relative;
width: 2em;
}

.tag:not(body).is-delete:before, .tag:not(body).is-delete:after {
background-color: currentColor;
content: "";
display: block;
left: 50%;
position: absolute;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
-webkit-transform-origin: center center;
    transform-origin: center center;
}

.tag:not(body).is-delete:before {
height: 1px;
width: 50%;
}

.tag:not(body).is-delete:after {
height: 50%;
width: 1px;
}

.tag:not(body).is-delete:hover, .tag:not(body).is-delete:focus {
background-color: #e8e8e8;
}

.tag:not(body).is-delete:active {
background-color: #dbdbdb;
}

.tag:not(body).is-rounded {
border-radius: 290486px;
}

a.tag:hover {
text-decoration: underline;
}
.control {
font-size: 1rem;
position: relative;
text-align: left;
}
