
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

body {
  padding-top: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

hr {
  border-top: 1px solid black;
  width: 100%;
  left: auto;
  margin: auto;
}

/* START HELP PAGE */

h4.help {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.col-md-12.help {
    width: 390px;
}

.container.help {
    height: inherit;
}
/* END HELP PAGE */

/* START BUTTONS */

.btn {
  display: block;
  width: 300px;
  background: #325c80;
  color: white;
  text-align: center;
  padding: 7px 0;
  margin: 0 0 10px;
  border: 1px solid #325c80;
  border-radius: 0;
  font-size: 70%;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.btn:hover {
  background: #264a60;
  color: white;
}
.btn.containers {
  width: 400px;
}
.btn.stack {
  background: none;
  color: #325c80;
  margin-top: -10px;
}
.btn.stack:hover {
  background: #264a60;
  color: white;
}

/* END BUTTONS */

.logo {
  padding-top: 13px;
}

/* START MID-SCREEN MENU */

.img-circle {
  margin-left: 98px;
  height: 64px;
  width: 64px;
}
.col-md-3 {
  margin: 20px 0 20px 0;
}
.col-md-3 p {
  text-align: center;
  font-size: 100%;
}
.col-md-3 h2 {
  text-align: center;
  font-size: 120%;
}

/* END MID-SCREEN MENU */


/* START BLOG POSTS AREA */

#blogPosts {
  margin-bottom: 50px;
}
.blogPostsHeading {
  margin-top: 30px;
}
.postDate {
  font-size: 80%;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.postTitle {
  font-size: 120%;
}

/* END BLOG POSTS AREA */


/* START FOOTER */

footer {
  background: linear-gradient(to bottom, #111111 0%, #242528 10%, #313236 100%);
  height: 42px;
}
footer ul {
  list-style-type: none;
  margin: 21px 0 0 10px;
  padding: 10px;
  color: #999;
}
footer ul li {
  display: inline;
  margin: 0;
}
footer ul li:first-child a {
  padding-left: 0;
  padding-right: 0;
}
.footer-fix {
  padding-right: 10px;
}
footer ul li a {
  color: #999;
  padding: 0 10px 0 10px;
}
footer ul li a:hover, footer ul li a:active {
  color: white;
  text-decoration: none;
}

/* END FOOTER */
