
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

.logo {
    margin-top:-2px;
    font-size:140%;
}
.mobilefirst {
    font-weight:bold;
}
.dev {
    color:#236B8E;
}

/* START BUTTONS */

.btn {
    display: block;
  	width: 300px;
  	background: #325c80;
  	color: white;
  	text-align: center;
  	padding: 7px 0;
  	margin: 0 0 10px;
  	border: 1px solid #325c80;
    border-radius: 0;
    font-size: 70%;
}

.btn:hover {
	background: #264a60;
    color: white;
}

.btn.containers {
	width: 400px;
}

.btn.stack {
	background: none;
	color: #325c80;
    margin-top: -10px;
}

.btn.stack:hover {
	background: #264a60;
	color: white;
}

/* END BUTTONS */

.logo {
    padding-top: 13px;
}

/* START MID-SCREEN MENU */

.img-circle {
    /*border-radius: 50%;*/
    margin-left: 98px;
    height: 64px;
    width: 64px;
}

.col-md-3 p {
    text-align: center;
    font-size: 100%;
}

.col-md-3 h2 {
    text-align: center;
    font-size: 120%;
}

/* END MID-SCREEN MENU */

footer {
}
