/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn {
    display: block;
  	width: 300px;
  	background: #325c80;
  	color: white;
  	text-align: center;
  	padding: 5px 0;
  	margin: 0 0 10px;
  	border: 1px solid #325c80;
    border-radius: 0;
}

.btn:hover {
	background: #264a60;
    color: white;
}

.btn.containers {
	width: 400px;
}

.btn.stack {
	background: none;
	color: #325c80;
}

.btn.stack:hover {
	background: #264a60;
	color: white;
}

.logo {
    padding-top: 13px;
}

.img-circle {
    border-radius: 50%;
    margin-left: 62px;
}

.col-md-4 h2 {
    text-align: center;
}

footer {
}
