body {
  padding-top: 0;
}

.navbar {
  margin-bottom: 0;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.dropdown-menu > li:not(.divider){
  padding: 5px 0 5px 0;
}
.dropdown-menu > li:hover:not(.divider){
  background-color: #f5f5f5;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: inherit;
}

.dropdown-menu .divider {
  margin: 0;
}

.dropdown-menu {
    opacity: 0.97;
    padding-top: 0;
    padding-bottom: 0;
}

/* multi-level */
.dropdown-submenu {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
    opacity: 0.97;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
