/* CSSTerm.com Simple Horizontal DropDown CSS menu */

.nav {
	background-color:white;
    padding:0;
	margin:0;
	list-style-type:none;
	/*height:30px;*/
}
.nav li { float:left; }
.nav li a {
	padding:9px 20px;
	display:block;
	color:black;
	text-decoration:none;
	font:20px arial;
}

/* Submenu */
.nav ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.nav li:hover { position:relative; background:#5FD367; }
.nav li:hover ul {
	left:0px;
	top:30px;
	background:#5FD367;
	padding:0px;
}

.nav li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#5FD367;
}
.nav li:hover ul li a:hover { background:#005555; }

/* ======= */
/* WRAPPER */
/* ======= */

#wrapper {
    width: 100%;
}

/* ======== */
/* CAROUSEL */
/* ======== */

:focus {
    outline: none;
}

#carousel {
    background: linear-gradient(#c0e6ff, #ffffff);
}

img#carousel {
    width:420px;
    height:330px;
    border:none;
    text-align:right;
}
.slick-slide img {
    display: block;
    margin: 42px 105px 0 0;
}

.carouselItem {
    margin: 0 300px;
}

.carouselItemImg {
    float:right;
}

/* buttons */

.tagline {
	font-size: 36px;
/*	padding-top: 20px;*/
	padding-bottom: 15px;
	font-weight: 100;
	font-family: Helvetica;
	line-height: 42px;
}

.button {
	display: block;
	width: 300px;
	background: #325c80;
	color: white;
	text-align: center;
	padding: 5px 0;
	margin: 0 0 10px;
	border: 1px solid #325c80;
    font-family: Helvetica;
}

.button.download {
	background: #325c80;
	color: white;
}

.button.stack {
	background: none;
	color: #325c80;
}

.button.labs {
	margin-top: 0;
}

.buttons.containers {
	width: 400px !important;
}

a.button {
	text-decoration: none;
}

a.button:hover {
	background: #264a60;
}

a.button.stack:hover {
	background: #264a60;
	color: white;
}

.slick-dots {
    background: rgba(0,0,0,.07);
    background-color: #5aaafa;
    height: 33px;
    line-height: 24px;
}

/* ============= */
/* middleMenuBar */
/* ============= */

.middleNav {
    list-style-type: none;
	display: inline-block;
	margin: 10px 300px 0 300px;
	padding: 0;
}
.middleNav li { float:left}
.middleNav li a {
	padding:9px 20px;
	display:block;
	color:black;
	text-decoration:none;
	font:20px arial;
    text-align: center
}

#middleNav {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#middleNav p {
	font-weight: strong;
	color: #333333;
}

#middleNav h2 {
	color: #056ba0;
}

.middleNav-item {
	width: 21%;
	margin-right: 5%;
	display: inline-block;
	float: left;
	text-align: center;
}

.middleNav-item:first-child img {
	margin-bottom: 0;
}

.middleNav-item:last-child {
	margin-right: 0;
}

.middleNav-item h2 {
	margin: 14px 0 0 24px;
}

.middleNav-item p {
	margin-left: 16px;
}

/* ============= */
/* middleMenuBar */
/* ============= */

#recentUpdates {
    margin: 0 300px;
}
