
.tutorial h2 {
    font-size: 200%;
    font-weight: bold;
}

.tutorial h3 {
    font-size: 150%;
    font-weight: bold;
    margin: 30px 0 10px 0;
    padding: 0;
}

.tutorial h4 {
    font-size: 140%;
}

.tutorial p {
    font-size: 110%;
}

.tutorial ol {
    line-height: 1.7em;
}

.tutorial img {
    max-width: 800px;
}

.tutorial blockquote {
    background-color: #DDDDDD;
}



.tutorial .col-sm-2 {
    padding: 23px 0 0 7px;
}
.tutorial .navmenu {
    width: 100%;
    border-style: none;
    background-color: inherit;
}

.tutorial .col-sm-2 ul {
    list-style-type: none;
    padding: 0 0 0 20px;
}
.tutorial .col-sm-2 ul.dropdown-menu.navmenu-nav {
    padding: 0;
    margin-bottom: 10px;
}
.tutorial .col-sm-2 ul a {
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    font-size: 115%;
    margin: 0;
    white-space: normal;
}

.tutorial .col-sm-2 ul a:hover {
    color: black;
}

.tutorial .col-sm-2 .navmenu-default .navmenu-nav.dropdown-menu > li.active{
  background-color: #f5f5f5;
}
.tutorial .col-sm-2 .navmenu-default .navmenu-nav.dropdown-menu > li.active a{
  background-color: inherit;
}

.tutorial .col-sm-2 .navmenu-default .navmenu-nav.dropdown-menu {
    background-color: inherit;
}
.tutorial .col-sm-2 .navmenu-default .navmenu-nav.dropdown-menu li {
    padding: 0 0 0 20px;
    border-left: 2px solid black;
}
.tutorial .col-sm-2 .navmenu-default .navmenu-nav.dropdown-menu li a {
    font-size: 100%;
}
