_site
_customConfig.yml
.jekyll-metadata
.sass-cache

*.iml
.idea
# Mac system files
.DS_Store
assets/.DS_Store

node_modules/

# Temporary swap files
*.swp
*.swo
*.*~

# API-reference ZIP file
IBM-WL-apidocs.zip

