---
title: Site Search
indexed: false
layout: default
custom_js:
  - lib/elasticsearch-js/elasticsearch.jquery.js
  - lib/multiselect/bootstrap-multiselect.js
  - lib/magnific/jquery.magnific-popup.min.js
  - js/search.js
---
<script id="searchResultTemplate" type="text/x-jsrender" role="main">
    {% raw %}
    <div class="searchResult">
        {{if highlight && highlight.title}}
        <a href="{{:url}}">{{:highlight.title}}</a>
        {{else}}
        <a href="{{:url}}">{{:title}}</a>{{/if}}
        <br/>
        <span class="label label-info">{{:type}}</span>
        {{for version}}
        <span class="label label-default">{{:#data}}</span>{{/for}}
        {{for relevantTo}}
        <span class="videoTag label label-default">{{:#data}}</span>{{/for}}
        {{for tags}}
        <span class="videoTag label label-default">{{:#data}}</span>{{/for}}
        <br/>
        {{if highlight && highlight.content}}
        <div class="summary">{{:highlight.content}}</div>
        {{else summary}}
        <div class="summary">{{:summary}}</div>
        {{else type == "video" && thumbnail}}
        <div class="search-video">
            <figure>
              <a href="{{:url}}" data-toggle="lightbox" data-width="960" data-gallery="youtubevideos">
                  <img src="{{:thumbnail}}" class="thumbnail img-responsive" alt="{{:title}}">
              </a>
            </figure>
        </div>{{/if}}
    </div>
    {% endraw %}
</script>

<section class="container search">
    <h2 class="no-anchor">Site Search <small id="queryTerm"></small></h2>
    <form role="search" action="{{site.baseurl}}/search/" method="get">
        <div class="input-group add-on">
            <input id="search-input" type="text" class="form-control" placeholder="Search for..." name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
    <div id="filters" style="display:none">
        <br/><b>Optional filters</b><br/>

        <select id="document-type" multiple="multiple">
            <option value="blog">Blogs</option>
            <option value="tutorial">Docs</option>
            <option value="lab">Labs</option>
            <option value="video">Videos</option>
        </select>

        <select id="platforms" multiple="multiple">
            <option value="cordova">Cordova</option>
            <option value="ios">iOS</option>
            <option value="android">Android</option>
            <option value="windows">Windows</option>
            <option value="javascript">Web</option>
        </select>

        <select id="versions" multiple="multiple">
            <option value="6.3">6.3</option>
            <option value="7.0">7.0</option>
            <option value="7.1">7.1</option>
            <option value="8.0">8.0</option>
        </select>

        <select id="language" multiple="multiple">
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="ja">Japanese</option>
            <option value="zh-hans">Chinese</option>
            <option value="pt-br">Portugese</option>
            <option value="ru">Russian</option>
            <option value="ko">Korean</option>
            <option value="fr">French</option>
            <option value="de">German</option>
        </select>
    </div>
    <br/><br/>
    <div id="searchResults">

    </div>
    <!-- Pagination links -->
    <nav>
        <ul class="pagination">
            <li id="searchPreviousBtn" class="disabled" style="display:none">
                <a aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
            <li id="searchNextBtn" style="display:none">
                <a aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        </ul>
        <p id="searchResultsCount" style="display:none"></p>
    </nav>
</section>
