---
layout: default
title: Video Gallery
custom_js:
- lib/ekko-lightbox/ekko-lightbox.min.js
- js/video-gallery.js
custom_css:
- lib/ekko-lightbox/ekko-lightbox.min.css
- css/video-gallery.css
---
<div class="container">

    <h2>Video Gallery</h2>
    <div class="row">
      {% for video in site.data.videos %}
      <div class="col-lg-3 col-sm-4 col-6">
          <figure>
          <a href="{{video.url}}" data-toggle="lightbox" data-width="960" data-gallery="youtubevideos">
              <img src="{{video.thumbnail}}" class="thumbnail img-responsive">
          </a>
          {% for tag in video.tags %}
            <span class="label label-info">{{tag}}</span>
          {% endfor %}
          <figcaption class="figure-caption">
              {{video.caption}}</figcaption>
          </figure>
      </div>
      {% endfor %}
    </div>
</div>
