---
layout: default
title: Video Gallery
custom_js:
- lib/magnific/jquery.magnific-popup.min.js
- js/video-gallery.js
custom_css:
- lib/magnific/magnific-popup.js
---
<div class="container">

    <h2>Video Gallery</h2>
    <ul class="gallery row">
      {% for video in site.data.videos %}
      <li class="col-md-3 col-sm-4 col-xs-6">
          <figure>
            <a href="{{video.url}}" data-toggle="lightbox" data-width="960" data-gallery="youtubevideos">
                <img src="{{video.thumbnail}}" class="thumbnail img-responsive">
            </a>
            {% for tag in video.tags %}
              <span class="label label-info">{{tag}}</span>
            {% endfor %}
            <figcaption class="figure-caption">
                {{video.caption}}
            </figcaption>
          </figure>
      </li>
      {% endfor %}
    </ul>
</div>
