{% if page.show_breadcrumb %}
<div class="row outerbreadcrumb hidden-xs">
  <div class="leftPart col-lg-8 col-xs-12">
    <ol class="breadcrumb">
      {% assign crumbs = page.url | split: '/' %}
        {% for crumb in crumbs offset: 1 %}
         {% if forloop.last %}
             <li class="active">{{ page.title }}</li>
         {% else %}
             {% if forloop.index > 2 %}
               {% capture crumb_url %}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}{% endcapture %}
               <li><a href="{{site.baseurl}}{{crumb_url}}">
                 {% page_by_url crumb_url %}
               </a></li>
             {% endif %}
         {% endif %}
       {% endfor %}
    </ol>
  </div>
  <div class="rightPart hidden-xs hidden-md hidden-sm col-lg-4">
    {% if page.relevantTo %}
    <ul class="relevantTo">
      {% for persona in page.relevantTo %}
        <li class="{{persona}}" title="{{persona}}">&nbsp;</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

</div>
{% endif %}
