{% if page.show_disqus == true and site.print_pdf == false %}
<section id="disqus_thread"></section>
<!-- DISQUS -->
<script>
var disqus_config = function () {
this.page.url = "https://developer.ibm.com/mobilefirstplatform{{page.url}}"; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{page.url}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
this.page.title = "{{page.title}}";

};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = 'https://mfpdev.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endif %}
