<hr>
<footer>
    <img src="IBMlogo.png" class="logo"/>
    <ul class="nav navbar-nav">
        <li><a href="#">Legal notices</a></li>
        <li><a href="#">IBM Privacy</a></li>
    </ul>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/lib/bootstrap/bootstrap.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{site.baseurl}}/lib/bootstrap/ie10-viewport-bug-workaround.js"></script>
