<!-- <hr> -->
<footer>
    <ul>
        IBM <li><a href="#">Legal notices</a> &#38; <span class="footer-fix"><a href="#">privacy</a></span> | </li>
        <li><a href="https://www.facebook.com/ibmmobilefirstplatform" target="_blank">Facebook</a> | </li>
        <li><a href="https://twitter.com/ibmmobiledev" target="_blank">Twitter</a> | </li>
        <li><a href="https://www.youtube.com/user/ibmmobileenterprise" target="_blank">YouTube</a></li>
    </ul>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/lib/bootstrap/js/bootstrap.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{site.baseurl}}/lib/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
