{% assign currentPage = include.page %}
{% assign minLevel    = include.minLevel %}
{% assign allDocs     = include.docs %}
{% assign pageLevel   = currentPage.dir | remove_first: "/" | split:"/" | size %}
{% assign parentLevel = pageLevel | minus: 1 %}
{% if parentLevel >= minLevel %}
    {% for p in allDocs %}
        {% assign pPageLevel = p.dir | remove_first: "/" | split:"/" | size %}
        {% if pPageLevel == parentLevel and currentPage.dir contains p.dir %}
            {% include get-parents.html page=p minLevel=minLevel docs=allDocs %}
            {% if p.use_dropdown %}
              <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{ p.title }} <b class="caret"></b></a>
                {% assign documents = site.pages | sort: "weight" %}

                {% assign currentItem = p.dir | split: "/" | last | append: "/@" %}
                {% assign start = p.dir | append: "@" | remove: currentItem %}
                {% include show-siblings.html docs=documents dir=start %}
              </li>
            {% elsif p.hide_in_breadcrumb %}
                {% comment %} don't show {% endcomment %}
            {% else %}
              <li><a href="{{site.baseurl}}{{p.url}}">{{ p.title }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
