<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<meta name="IBM.WTMCategory" scheme="IBM_WTMCategory" content="MFPDEV" />
<meta name="IBM.WTMSite" content="50200010"/>

{% feed_meta %}
<meta name="description" content="{{site.description}}">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:url" content="{{site.url}}{{site.baseurl}}" />
<meta property="og:site_name" content="{{site.name}}" />
<link rel="icon" href="{{site.baseurl}}/favicon.ico">
<!-- Jasny Bootstrap core CSS -->
<link href="{{site.baseurl}}/lib/jasny-bootstrap/css/jasny-bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{site.baseurl}}/css/combined.css" rel="stylesheet">

{% if page.title %}
  <title>{{page.title}} - {{site.name}}</title>
{% else %}
  <title>{{site.name}}</title>
{% endif %}

<script src="//www.ibm.com/common/stats/ida_production.js" type="text/javascript">//</script>
