{% if page.title %}
  <title>{{page.title}} - IBM MobileFirst Platform</title>
{% else %}
  <title>IBM MobileFirst Platform</title>
{% endif %}

<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
<script type="text/javascript" src="{{site.baseurl}}/lib/jquery-2.1.4.min.js"></script>
{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="{{site.baseurl}}/{{ stylesheet }}" media="screen" type="text/css">
  {% endfor %}
{% endif %}

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
    <script src='{{site.baseurl}}/{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
