<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.baseurl}}/">
        <div class="logo">
          <span class="mobilefirst">MobileFirst</span> Platform
          <span class="dev">{dev}</span>
        </div>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorials<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/tutorials/en/8.0/all-tutorials.html">All Tutorials</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Start</a>
              <ul class="dropdown-menu">
                <li><a href="#">Cordova</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">iOS</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Android</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Windows Phone</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Windows</a></li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">By Persona</a>
              <ul class="dropdown-menu">
                <li><a href="#">Cordova</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">iOS</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Android</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Windows Phone</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Windows</a></li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">By Product</a>
              <ul class="dropdown-menu">
                <li><a href="#">Foundation</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">IBM Containers</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Quality Assurance</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Cloudant Data Layer</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Application Scanning</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Presence Insights</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Product Integration</a></li>
        <li><a href="#">Learn more</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Blogs</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Labs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">7.1</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">7.0</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/help.html">Help</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
