<div id="navigationBar">
  <ul class="nav">
    <li>
      <a href="#">
        <img src="assets/logo.png" />
      </a>
    </li>
    <li><a href="#">Get Introduced</a></li>
    <li>
      <a href="#">Get Started</a>
      <!-- <ul>
                    <li><a href="#">release 6.3</a></li>
                    <li><a href="#">release 7.0</a></li>
                    <li><a href="#">release 7.1</a></li>
          <li><a href="#">release 8.0</a></li>
                </ul> -->
    </li>
    <li><a href="#">Learn More</a></li>
    <li><a href="#">Product Integration</a></li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Labs</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</div>
<br clear="all" />
