<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
            <img src="{{site.baseurl}}/assets/logo.png" class="logo"/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Get Introduced</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorials<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Cordova</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Native iOS</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Native Android</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Native Windows</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Native Windows Phone</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Authentication</a></li>
                        <!-- <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Server-side</li> -->

                    </ul>
                </li>
                <li><a href="#">Learn more</a></li>
                <li><a href="#">Product Integration</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Labs</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
