<style>
html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
</style>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
  <ul class="nav navmenu-nav">
    <li><a href="../navmenu/">Features</a></li>
    <li class="active"><a href="./">Docs</a>
        <ul>
            <li><a href="../navmenu-reveal/">Foundation 8.0</a></li>
            <li><a href="../navmenu-reveal/">Foundation 7.1</a></li>
            <li><a href="../navmenu-reveal/">Foundation 7.0</a></li>
            <li><a href="../navmenu-reveal/">Foundation 6.3</a></li>
            <li><a href="../navmenu-reveal/">Product integration</a></li>
            <li><a href="../navmenu-reveal/">Learn more</a></li>
        </ul>
    </li>
    <li><a href="../navmenu-reveal/">Video gallery</a></li>
    <li><a href="../navmenu-reveal/">Blog</a></li>
    <li><a href="../navmenu-reveal/">Help</a></li>
    
  </ul>
</div>