<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <ul class="nav navmenu-nav">
        <li><a href="{{site.baseurl}}/features">Features</a></li>
        <li><a href="#">Docs</a>
            <ul>
                <li><a href="{{site.baseurl}}/tutorials/en/foundation/8.0/all-tutorials">Foundation 8.0</a></li>
                <li><a href="{{site.baseurl}}/tutorials/en/foundation/7.1/all-tutorials">Foundation 7.1</a></li>
                <li><a href="{{site.baseurl}}/tutorials/en/foundation/7.0/all-tutorials">Foundation 7.0</a></li>
                <li><a href="{{site.baseurl}}/tutorials/en/foundation/6.3/all-tutorials">Foundation 6.3</a></li>
            </ul>
        </li>
        <li><a href="{{site.baseurl}}/tutorials/en/product-integration/8.0/all-tutorials">Product integration</a>
            <ul>
                <li><a href="{{site.baseurl}}/tutorials/en/product-integration/8.0/all-tutorials">Foundation 8.0</a></li>
                <li><a href="{{site.baseurl}}/tutorials/en/product-integration/7.1/all-tutorials">Foundation 7.1</a></li>
                <li><a href="{{site.baseurl}}/tutorials/en/product-integration/7.0/all-tutorials">Foundation 7.0</a></li>
                <li><a href="{{site.baseurl}}/tutorials/en/product-integration/6.3/all-tutorials">Foundation 6.3</a></li>
            </ul>
        </li>
        <li><a href="{{site.baseurl}}/learn-more">Learn more</a></li>
        <li><a href="{{site.baseurl}}/video-gallery">Video gallery</a></li>
        <li><a href="{{site.baseurl}}/blog">Blog</a></li>
        <li><a href="{{site.baseurl}}/help">Help</a></li>
    </ul>
</div>