<nav class="navmenu navmenu-default" role="navigation">
    <ul>
      {% for version_hash in site.data.tutorials.menus %}
        {% assign version = version_hash[1] %}
          {% if version.name == "8.0"%}
            {% for category in version.children %}
              <li>
                <a href="#" class="navmenu-brand dropdown-toggle" data-toggle="dropdown">{{category.name}}</a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                  {% for topic in category.children %}
                    <li><a href="{{site.baseurl}}{{version.path}}{{category.path}}{{topic.path}}">{{topic.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          {% endif %}
      {% endfor %}
    </ul>
</nav>
