.blogpost {
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 160%;
        font-weight: bold;
    }
  .page-header {
      margin-top: 0;
      .label {
          margin-right: 5px;
      }
      a:hover {
        text-decoration: none;
      }
  }
  img {
      max-width: 100%;
      margin: 30px auto 30px auto;
      display: block;
  }
}

#blogPosts {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 9px;

    .postItem {
      margin-bottom: 10px;
      &.inline{
        display: inline-block;
        min-width: 268px;
      }
      .postTitle {
        margin-bottom: 0;
      }
      .postExcerpt {
        font-size: 95%;
      }
    }
}

.blogIndex {
  .moreBlogs {
      line-height: 2.0em;
  }
}
