.blogpost {
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 160%;
        font-weight: bold;
    }
  .page-header {
      margin-top: 0;
      .label {
          margin-right: 5px;
      }
      a:hover {
        text-decoration: none;
      }
  }
  img {
      max-width: 100%;
      margin: 30px auto 30px auto;
      display: block;
  }
}

#blogPostsList {
   margin-bottom: 0px;
   padding-top: 5px;
   padding-bottom: 9px;

   .twoColumns {
	   -webkit-columns: 2 200px;
		-moz-columns: 2 200px;
		columns: 2 200px;
	}
   
   .postItem {
      margin-bottom: 10px;
      
      &.inline{
        display: inline-block;
        min-width: 268px;
      }
      
      .postTitle {
         margin-bottom: 0;
         font-size: 120%;
         
         a {
            color: #337ab7;
            text-decoration: none;
            
            &:hover {
               text-decoration: underline;
            }
         }
      }
      
      .postDate {
      	font-size: 80%;
      	padding: 0;
      	margin: 0;
      	font-weight: bold;
      }
      
      .postExcerpt {
        font-size: 95%;
      }
   }
}

.blogIndex {
  .moreBlogs {
      line-height: 2.0em;
  }
}

/* Social sharing licenses:
https://www.iconfinder.com/icons/1011335/email_envelope_mail_message_send_icon
https://www.iconfinder.com/icons/771365/circle_logo_media_network_share_social_twitter_icon
https://www.iconfinder.com/icons/570630/google_plus_share_social_icon
https://www.iconfinder.com/icons/771370/circle_linkedin_logo_media_network_share_social_icon
https://www.iconfinder.com/icons/389172/connection_facebook_good_like_mobile_share_social_icon
*/

#social {
    margin-top: 30px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline-block;
}

ul.share-buttons img {
    margin: 0;
    height: 30px;
}
