.carousel {
	font-family: HelvNeuRomanForIBM;
	background-color: #28536f;
	background-image: url(../assets/front-page/carousel-background.png);
	height: 527px;

	.carousel-control {
		&.left {
			background-image: none;
		}
		&.right {
			background-image: none;
		}
	}

	.carousel-indicators {
		width: 100%;
		left: auto;
		margin-left: 0;

		li {
			background-color: white;
			opacity: 0.5;
		}

		.active {
			background-color: white;
			opacity: 1.0;
		}
	}

	.carousel-inner .item {
		img {
			height: 250px;
			width: 450px;
			margin-top: 77px;
		}

		.carousel-caption {
			z-index: 10;
			color: white;

			h1 {
				text-align: left;
				text-shadow: none;
				margin-bottom: 10px;
				margin-top: 56px;
				font-size: 32px;

			}

			h2 {
				text-align: left;
				text-shadow: none;
				margin-bottom: 10px;
				margin-top: 56px;
				font-size: 24px;

			}
			h3 {
				text-align: left;
				text-shadow: none;
				margin-bottom: 10px;
				margin-top: 26px;
				font-size: 18px;

			}
			h4 {
				text-align: left;
				text-shadow: none;
				margin-bottom: 8px;
				margin-top: 22px;
				font-size: 15px;

			}
			.caption-text {
				line-height: 23px;
				font-size: 16px;
				font-weight: 300;
				text-align: left;
				margin-bottom: 40px;
			}
		}
	}
}

@media(min-width: 768px) {
	.carousel .carousel-inner .item .carousel-caption {
		position: inherit;

	}
}
