//colors
$color_glacier_approx: #75aed0;
$color_chambray_approx: #325c80;
$color_nile_blue_approx: #1d3649;

//fonts
$font_0: HelveticaNeue-UltraLight;
$font_1: Helvetica Neue Light;
$font_2: Helvetica Neue;
$font_3: Open Sans;
$font_4: Helvetica;
$font_5: Arial;
$font_6: Lucida Grande;
$font_7: sans-serif;

.carousel {
	background-color: #28536f;
	background-image: url(../assets/front-page/carousel-background.png);
	height: 380px;
	
	.carousel-control {
		&.left {
			background-image: none;
		}
		&.right {
			background-image: none;
		}
	}
	
	.carousel-indicators {
		width: 100%;
		left: auto;
		margin-left: 0;
		li {
			background-color: white;
			opacity: 0.5;
		}
		.active {
			background-color: white;
			opacity: 1.0;
		}
	}
	
	.carousel-inner .item {
		height: 330px;
		img {
			height: 250px;
			width: 450px;
			margin-top: 24px;
		}
		.carousel-caption {
			z-index: 10;
			font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5, $font_6, $font_7;
			font-weight: 300;
			h1 {
				color: white;
				text-align: left;
				text-shadow: none;
			}
		}
	}
}

@media(min-width: 768px) {
	.carousel .carousel-inner .item .carousel-caption {
		position: inherit;
		p {
			margin-bottom: 20px;
			font-size: 21px;
			line-height: 1.4;
			color: black;
		}
		h1 {
			margin-bottom: 20px;
		}
	}
}
