
// Migration cookbook

#migrationOptions {
	
}

.migrationOption-migration-assistance-tool, .migrationOption-migrating-applications, .migrationOption-migrating-adapters, .migrationOption-development-topics  {
	width: 500px;
	height: 341px;
	display:inline-block;
font-family: "Helvetica Neue Medium", Helvetica, Arial;	
}

.migrationOption-migration-assistance-tool h3, .migrationOption-migrating-applications h3, .migrationOption-migrating-adapters h3, .migrationOption-development-topics h3  {
	color: #264a60;
	text-align:center;
	margin: 107px 280px 0 0;
	font-size:160%;
}

.migrationOption-section-gutter {
	padding-left: 15px;
}
.migrationOption-section-number {
	font-size:200px;
	position:absolute;
}

.migrationOption-migration-assistance-tool-gutter-color {
	border-left: 5px solid #c1e6fe;
}
.migrationOption-apps-gutter-color {
	border-left: 5px solid #9be1d9;
}
.migrationOption-adapters-gutter-color {
	border-left: 5px solid #c4e47a;
}
.migrationOption-dev-topics-gutter-color {
	border-left: 5px solid #98d3fd;
}
.migrationOption-section-number-tool {
	color: #c1e6fe;
	left:-65px;top:951px;
}
.migrationOption-section-number-apps {
	color: #9be1d9;
	left:-94px;top:1627px;
}
.migrationOption-section-number-adapters {
	color: #c4e47a;
	left:-94px;top:6856px;
}
.migrationOption-section-number-dev-topics {
	color: #98d3fd;
	left:-94px;top:11888px;
}
hr {
	border: 2px solid #c8d2d2 !important;
	margin: 15px 0 5px 0
}