// Migration cookbook
#migrationOptions img {
	height: 62px;
	padding: 0;
	margin: 9px auto auto auto;
}
.migrationOption-migration-assistance-tool, .migrationOption-migrating-applications, .migrationOption-migrating-adapters, .migrationOption-development-topics  {

	height: 100px;
	width:206px;
	display:inline-block;
	text-align: center;
	font-size: 14px;
	color: #264a60;
	font-family: "Helvetica Neue Medium", Helvetica, Arial;
}
.migrationOption-migration-assistance-tool {
	background-color: #c1e6fe;
}
.migrationOption-migration-assistance-tool:hover {
	background-color: #bbdff3;
}
.migrationOption-migrating-applications {
	background-color: #9be1d9;
}
.migrationOption-migrating-applications:hover {
	background-color: #9dd4ca;
}
.migrationOption-migrating-adapters {
	background-color: #c4e47a;
}
.migrationOption-migrating-adapters:hover {
	background-color: #b6cf74;
}
.migrationOption-development-topics {
	background-color: #98d3fd;
}
.migrationOption-development-topics:hover {
	background-color: #8fc9eb;
}
hr {
	border: 2px solid #c8d2d2 !important;
	margin: 15px 0 5px 0
}