
.features { // Features page
    h3 {
        color: #1a76b9;
        font-size: 25px;
    }
    
    h3,h4 {
        margin: 0 0 5px 0;
    }
    
    .tagline {
        font-size: 115%;
        color: #939598;
    }
    
    .feature-description { // Feature lists
        list-style: none;
        padding-left: 0;
        
        li { 
            margin-bottom: 10px;
            color: #4179b9;
            font-weight: 100;
            
            img {
                width: 15px;
                margin: 0 5px 0 0;
            }
        }
        
        .title {
            color: #4179ba;
            font-weight: bold;
        }
        
        .checkmark {
            width: 15px;
        }
    }
    
    .imgmenu { // Images menu
        margin: 0;
        padding: 0;
        
        li {
            display: block;
            float: left;
            border-top: 2px solid #1d3749;
            border-bottom: 2px solid #1d3749;
            margin-bottom: 25px;
            
            img {
                width: 228px;
                height: 185px;
                padding: 0 24px 0 24px;
            }
            
            &:hover {
                background-color: #f0f9fe;
            }
        }
    }
    
    // Hide feature lists by default; display via JavaScript.
    .feature-item {
        display: none;
        margin-bottom: 30px;
    
        a {
            color: #30abdf;
        }
    }
    
    @media(max-width: 768px) {
        .feature-item {
            display: block;
        }
    }
}

