#get-introduced {
   hr {
      border: 1px solid #c8d2d2 !important;
      margin: 5px 0 15px 0;
   }
   
   h3 {
      margin: 0;
   }
}

#introduction-items {
   margin-top: 30px;
      
   .intro-item {
      width: 290px;
      height: 415px;
      text-align: center;
      padding: 20px;
      font-weight: 300;
      
      img {
         margin-bottom: 20px;
         width: 187px;
      }
      
      h4 {
         color: #1d3648;
      }
   }

   .intro-item-border {
      border-right: 2px solid #cccccc;
   }
}

#introduction-items-small {
   margin-left: 2px;
   
   p {
      margin-bottom: 20px;
   }
}

#product-components {
   margin: 30px 0 40px 0;
   
   p {
      margin-bottom: 20px;
      padding-top: 14px;
   }
   
   ul li {
      line-height: 1.8em;
   }
}

.component-img {
   width: 70px;
   float: left;
}