//fonts
$font_0: Helvetica;
$font_1: Arial;
$font_2: sans-serif;
$font_3: Lucida Grande;
$font_4: Consolas;
$font_5: Monaco;
$font_6: Lucida Console;
$font_7: Liberation Mono;
$font_8: DejaVu Sans Mono;
$font_9: Bitstream Vera Sans Mono;
$font_10: Courier New;

html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: 0;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-print-color-adjust:exact;
}

.logo-icon {
	background-image:url(../assets/foundation.svg);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 4px 7px;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 39px;
}

.well {
	margin-top: 5px;
}

.logo {
	padding-top: 13px;
	padding-right: 5px;
	padding-left: 16px;
}

#blogPosts {
	background-color: #5AAAFA;
	color: white;
	width: 100%;
	padding: 10px 0 10px 0;
	font-size: 120%;
	
	.latestPost {
		margin-right: 5px;
		font-weight: bold;
	}
	
	.latestPostTitle {
		font-size: 85%;
		a {
			color: white;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
			
			&:visited {
				text-decoration: underline;
				color: white;
			}
		}
	}
	
	.more-posts {
		font-size: 85%;
		float: right;
		margin-top: 2px;
		
		a {	
			color: white;
			
			&:visited {
				color: white;
			}
		}
	}
}

#index_sections {
	margin-top: 50px;
	font-size: 112.5%;
	
	h1 {
		font-size: 230%;
		font-family: "Helvetica Neue Light","Helvetica Neue","Open Sans",Helvetica,Arial,Lucida Grande,sans-serif;
		color: #4A4A4A;
		margin-bottom: 20px;
	} 
	
	hr {
		border: 1px solid #DDD !important;
		margin: 90px 13% 70px 15%;
	}
	
	#index_overview {
		text-align: center;
	
		#index_overview_icons {	
			p {
				margin-top: 10px;
				font-family: arial;
			}
			
			.section_text {
				margin-bottom: 35px;
			}
			
			.index-item {
				width: 20%;
				padding: 20px;
				font-weight: 300;
				margin-bottom: 35px;
				
				img {
					height: 105px;
				}
			}
		}
		
		a.read-more {
			width: 300px;
			background-color: #5AAAFA;
			color: white;
			text-align: center;
			padding: 12px;
			border-radius: 0;
			text-decoration: none;
			text-shadow: none;
			font-size: 80%;
			font-weight: bold;
		}
	}

	#index_benefits {
		text-align: left;
		margin-bottom: 25px;
		
		.highlight_text {
			color: #649fe2;
		}
		
		.foundation_diamond {
			height: 340px;
			margin-left: 150px;
			margin-top: 21px;
		}
		
		.benefits {
			padding-right: 80px;
		}
		
		.benefits-small-screens {
			text-align: center;
		}
	}
	
	#index_getstarted {
		text-align: center;
		margin-bottom: 65px;
		
		p {
			margin-top: 10px;
			margin-bottom: 20px;
		}
		
		a img {
			text-decoration: none;
		}
		
		.index_section_left {
			text-align: center;
			padding-bottom: 60px;
			float: left;
			border-right: 1px solid #DDD;
			height: 300px;
			
			img {
				height: 80px;
				padding: 0;	
			}
		}
		
		.index_section_right {
			padding: 0;
			text-align: center;
			float: right;
			
			img {
				height: 100px;
				padding: 5px 46px 20px 33px;	
			}
		}
		
		.number {
			border-radius: 50%;
    		padding: 4px 10px 4px 10px;
		   border: 1px solid #649fe2;
		   color: #649fe2;
			font-size: 120%;
    		font-weight: bold;
			position: initial;
		}
		
		#index_getstarted_icons {
			margin-left: 100px;
			margin-right: 100px;
		}
	}
	
	#index_help {
		text-align: center;
		width: 50%;
		height: 200px;
		margin-bottom: 94px;
		
		.help-icons {
			margin-top: 50px;
			img {
				height: 82px;
				margin-right: 45px;
				margin-left: 45px;
			}
		}
	}
	
	#index_help, #index_getstarted {
		img {
    		-webkit-transition: all 0.35s ease; /* Safari and Chrome */
		   -moz-transition: all 0.35s ease; /* Firefox */
		   -ms-transition: all 0.35 ease; /* IE 9 */
		   -o-transition: all 0.35 ease; /* Opera */
		   transition: all 0.35 ease;
			
			&:hover {
			   -webkit-transform:scale(1.1); /* Safari and Chrome */
			   -moz-transform:scale(1.1); /* Firefox */
			   -ms-transform:scale(1.1); /* IE 9 */
			   -o-transform:scale(1.1); /* Opera */
			   transform:scale(1.1);
			}
		}
	}
}

footer {
	background-color: #292a2d;
	padding: 15px;
	margin: 20px 0 0 0;
	height: 122px;
	color: #999;
}
footer a {
	font-size: 110%;
	color: #999;
	&:hover {
		color: white;
	}
}

.footerItem {
	float: left;
	border-left: 2px solid white;
	padding-left: 10px;
}

.footerHeading {
	font-weight: bold;
	font-size: 120%;
	color: white;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	padding: 0.35em 10px;
	font-size: 110%;
	margin: 0 0 10px;
}

@media(max-width: 768px) {
	footer ul {
		padding: 0;
	}
	.logo-icon {
		background-image:none;
	}
	.logo {
		padding-left: 5px;
	}
}

.downloadButtons {
	margin-bottom: 53px;
	.btn-group {
		float:right;
		&.open>.btn-default.dropdown-toggle {
			color: white;
			background-color: #1d3649;
		}
	}
	.download-button {
		border-radius: 5px;
		font-family: Arial;
		color: white;
		font-size: 13px;
		background-color: #264a60;
		padding: 5px 10px;
		margin: 21px 0 5px 5px;
		float: right;
		border: 1px solid #325c80;
		box-shadow: 0 2px #d6d5d5;
		text-decoration: none;

		.glyphicon-download-alt:before {
			padding: 0 5px 0 0;
		}

		&:hover {
			color: white;
			background-color: #1d3649;
			text-decoration: none;
		}
		&:active {
			box-shadow: none;
			margin-top: 22px;
		}
	}
}

.btn-color {
	color: white;
}
.container .btn {
	background-color: #264a60;
	&:hover {
		background-color: #1d3649;
		color: white;
	}
}

h4.panel-title, .tutorial h4.panel-title  {
	font-size: 13px;
}

.error-template {
	padding: 40px 15px;
	text-align: center;
}
.error-actions {
	margin-top:15px;
	margin-bottom:15px;
}
.error-actions .btn {
	margin-right:10px;
}

.contribute-links {
	font-size: 11px;
	margin:-20px 0 0 0;
	padding:0;
}

.navbar {
	min-height: 40px;
}

.navbar.navbar-default {
	line-height: 18px;
}

.navbar-default .navbar-nav>li>a {
	line-height: 11px;
}

.navbar-form {
	margin-top: 4px;
	margin-bottom: 2px;
}

// AnchorJS
.anchorjs-link:hover {
	text-decoration: none;
}

// Buttons
.custombtn.btn-default {
	display: block;
	height: 45px;
	width: 300px;
	background-color: #41D6C3;
	color: #4A4A4A;
	text-align: center;
	padding: 14px 0 11px 0;
	margin: 0 0 10px 0;
	border-radius: 0;
	text-decoration: none;
	text-shadow: none;
	font-size: 14px;
	font-family: arial;
	font-weight: 500;
	
	&:hover {
		background-color: #82C9FB;
	}

	&.containers {
		width: 400px;
	}
	
	&.stack {
		background-color: white;
		//margin-top: -10px;
		&:hover {
			background: #82C9FB;
		}
	}
}

// last mofidied date styling
#timestamp {
	font-size: 80%;
	margin-top: 50px;
	margin-bottom: 10px;
}

.timeago {
	font-size: 10px;
}
