//colors
$black:  black;
$color_rhino_approx: #264a60;
$white: white;
$color_chambray_approx: #325c80;
$color_nile_blue_approx: #1d3649;
$color_woodsmoke_approx: #111111;
$color_shark_approx: #242528;
$color_mine_shaft_approx: #313236;
$color_mountain_mist_approx: #999;
$color_alto_approx: #dddddd;
$color_quill_gray_approx: #d6d5d5;

//fonts
$font_0: Helvetica;
$font_1: Arial;
$font_2: sans-serif;
$font_3: Lucida Grande;
$font_4: Consolas;
$font_5: Monaco;
$font_6: Lucida Console;
$font_7: Liberation Mono;
$font_8: DejaVu Sans Mono;
$font_9: Bitstream Vera Sans Mono;
$font_10: Courier New;

html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: 0;
	font-family: $font_0, $font_1, $font_2;
	-webkit-print-color-adjust:exact;
}

.logo-icon {
	background-image:url(../assets/foundation.svg);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 4px 7px;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 39px;
}

.well {
	margin-top: 5px;
}

.logo {
	padding-top: 13px;
	padding-right: 5px;
	padding-left: 16px;
}

#blogPosts {
	background-color: #5AAAFA;
	color: white;
	width: 100%;
	padding: 10px 0 10px 0;
}

.latestPost {
	font-size: 120%;
	font-weight: 400;
	margin-right: 25px;
	color: white;
}

.postTitle {
	font-size: 100%;
	font-weight: 200;
	
	a {
		color: white;
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
		
		&:visited {
			color: white;
			text-decoration: underline;
		}
	}
}

#index_sections {
	margin-top: 50px;
	font-size: 112.5%;
	
	h1 {
		font-size: 230%;
		font-family: "Helvetica Neue Light","Helvetica Neue","Open Sans",Helvetica,Arial,Lucida Grande,sans-serif;
		color: #4A4A4A;
		margin-bottom: 20px;
	} 
	
	hr {
		border: 1px solid #DDD !important;
		margin: 90px 13% 70px 15%;
	}
	
	#index_overview {
		text-align: center;
	
		#index_overview_icons {	
			.section_text {
				margin-bottom: 35px;
			}
			
			.index-item {
				width: 20%;
				padding: 20px;
				font-weight: 300;
				margin-bottom: 35px;
				
				img {
					height: 105px;
				}
			}
		}
		
		a.read-more {
			width: 300px;
			background-color: #5AAAFA;
			color: white;
			text-align: center;
			padding: 12px;
			border-radius: 0;
			text-decoration: none;
			text-shadow: none;
			font-size: 80%;
			font-weight: bold;
		}
	}

	#index_benefits {
		text-align: left;
		margin-bottom: 30px;
		
		.highlight_text {
			color: #649fe2;
		}
		
		.foundation_diamond {
			height: 330px;
			margin-left: 150px;
			margin-top: 21px;
		}
		
		.benefits {
			padding-right: 80px;
		}
	}
	
	#index_getstarted {
		text-align: center;
		margin-bottom: 30px;
		
		img {
			height: 100px;
			padding: 15px;
		}

		.index_section_left {
			text-align: center;
			margin-left: 150px;
			padding-right: 60px;
			float: left;
			border-right: 1px solid #DDD;
			height: 300px;
		}
		
		.index_section_right {
			text-align: center;
			margin-right: 150px;
			float: right;
		}
		
		.number {
			border-radius: 50%;
    		padding: 6px 10px 6px 10px;
		   border: 1px solid #649fe2;
		   color: #649fe2;
			font-size: 95%;
    		font-weight: bold;
		}
	}
}

footer {
	background-color: #292a2d;
	padding: 15px;
	margin: 20px 0 0 0;
	height: 122px;
	color: #999;
}
footer a {
	font-size: 110%;
	color: #999;
	&:hover {
		color: white;
	}
}

.footerItem {
	float: left;
	border-left: 2px solid white;
	padding-left: 10px;
}

.footerHeading {
	font-weight: bold;
	font-size: 120%;
	color: white;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	padding: 0.5em 10px;
	font-size: 110%;
	margin: 0 0 10px;
}

@media(max-width: 768px) {
	footer ul {
		padding: 0;
	}
	.logo-icon {
		background-image:none;
	}
	.logo {
		padding-left: 5px;
	}
}

.downloadButtons {
	margin-bottom: 53px;
	.btn-group {
		float:right;
		&.open>.btn-default.dropdown-toggle {
			color: $white;
			background-color: $color_nile_blue_approx;
		}
	}
	.download-button {
		border-radius: 5px;
		font-family: $font_1;
		color: $white;
		font-size: 13px;
		background-color: $color_rhino_approx;
		padding: 5px 10px;
		margin: 21px 0 5px 5px;
		float: right;
		border: 1px solid $color_chambray_approx;
		box-shadow: 0 2px $color_quill_gray_approx;
		text-decoration: none;

		.glyphicon-download-alt:before {
			padding: 0 5px 0 0;
		}

		&:hover {
			color: $white;
			background-color: $color_nile_blue_approx;
			text-decoration: none;
		}
		&:active {
			box-shadow: none;
			margin-top: 22px;
		}
	}
}

.btn-color {
	color: white;
}
.container .btn {
	background-color: $color_rhino_approx;
	&:hover {
		background-color: $color_nile_blue_approx;
		color: white;
	}
}

h4.panel-title, .tutorial h4.panel-title  {
	font-size: 13px;
}

.error-template {
	padding: 40px 15px;
	text-align: center;
}
.error-actions {
	margin-top:15px;
	margin-bottom:15px;
}
.error-actions .btn {
	margin-right:10px;
}

.contribute-links {
	font-size: 11px;
	margin:-20px 0 0 0;
	padding:0;
}

.navbar {
	min-height: 40px;
}

.navbar.navbar-default {
	line-height: 18px;
}

.navbar-default .navbar-nav>li>a {
	line-height: 11px;
}

.navbar-form {
	margin-top: 4px;
	margin-bottom: 2px;
}

// AnchorJS
.anchorjs-link:hover {
	text-decoration: none;
}

// Buttons
.custombtn.btn-default {
	display: block;
	width: 300px;
	background-color: #41D6C3;
	color: #4A4A4A;
	text-align: center;
	padding: 7px 0;
	margin: 0 0 10px;
	border-radius: 0;
	text-decoration: none;
	text-shadow: none;
	font-size: 70%;
	font-family: arial;
	font-weight: 500;
	
	&:hover {
		background-color: #82C9FB;
	}

	&.containers {
		width: 400px;
	}
	
	&.stack {
		background-color: white;
		color: #4A4A4A;
		margin-top: -10px;
		&:hover {
			background: #82C9FB;
		}
	}
}

// last mofidied date styling
#timestamp {
	font-size: 80%;
	margin-top: 50px;
	margin-bottom: 10px;
}

.timeago {
	font-size: 10px;
}
