//colors
$black:  black;
$color_rhino_approx: #264a60;
$white: white;
$color_chambray_approx: #325c80;
$color_nile_blue_approx: #1d3649;
$color_woodsmoke_approx: #111111;
$color_shark_approx: #242528;
$color_mine_shaft_approx: #313236;
$color_mountain_mist_approx: #999;
$color_alto_approx: #dddddd;
$color_quill_gray_approx: #d6d5d5;

//fonts
$font_0: Helvetica;
$font_1: Arial;
$font_2: sans-serif;
$font_3: Lucida Grande;
$font_4: Consolas;
$font_5: Monaco;
$font_6: Lucida Console;
$font_7: Liberation Mono;
$font_8: DejaVu Sans Mono;
$font_9: Bitstream Vera Sans Mono;
$font_10: Courier New;

html {
	height: 100%;
}
body {
	height: 100%;
	padding-top: 0;
	font-family: $font_0, $font_1, $font_2;
	-webkit-print-color-adjust:exact;
}
.logo-icon {
	background-image:url(../assets/foundation.svg);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 4px 7px;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 39px;
}
hr {
	border-top: 1px solid $black;
	width: 100%;
	left: auto;
	margin: auto;
}
.well {
	margin-top: 5px;
}
.custombtn.btn-default {
	display: block;
	width: 300px;
	background-color: $color_rhino_approx;
	color: $white;
	text-align: center;
	padding: 7px 0;
	margin: 0 0 10px;
	border: 1px solid $color_chambray_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	text-decoration: none;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
	font-size: 70%;
	font-family: $font_0, $font_1, $font_3, $font_2;
	font-weight: 300;
	&:hover {
		background-color: $color_nile_blue_approx;
		color: $white;
		text-decoration: none;
		border: 1px solid $color_chambray_approx;
	}

	&.containers {
		width: 400px;
	}
	&.stack {
		background: none;
		color: $color_chambray_approx;
		margin-top: -10px;
		&:hover {
			background: $color_nile_blue_approx;
			color: $white;
		}
	}
}
.logo {
	padding-top: 13px;
	padding-right: 5px;
	padding-left: 16px;
}
.img-circle {
	margin-left: 98px;
	height: 64px;
	width: 64px;
}
.mid-nav {
	margin: 20px 0;
	p {
		text-align: center;
		font-size: 100%;
	}
	h2 {
		text-align: center;
		font-size: 120%;
	}
}
#blogPosts {
	.twoColumns {
		-webkit-columns: 2 200px;
		-moz-columns: 2 200px;
		//Instead of the line below you could use @include columns($width-and-count)
		columns: 2 200px;
	}
	#announcements {
		display: none;
	}	
	.blogPostsHeading {
		margin-top: 20px;
		font-weight: bold;
		font-size: 24px;
		color: black;
		cursor: pointer;
		text-decoration: underline;
	}
	.blogPostsHeadingInactive {
		font-weight: 300;
		text-decoration: none;
	}
}
.postDate {
	font-size: 80%;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
.postTitle {
	font-size: 120%;
}

footer {
	background-color: #292a2d;
	padding: 15px;
	margin: 20px 0 0 0;
	height: 122px;
	color: #999;
}

footer a {
	font-size: 110%;
	color: #999;
	&:hover {
		color: white;
	}
}

.footerItem {
	float: left;
	//width: 25%;
	border-left: 2px solid white;
	padding-left: 10px;
}
.footerHeading {
	font-weight: bold;
	font-size: 120%;
	color: white;
}

code:not([class*="language-"]) {
	background-color: inherit;
	color: $black;
	font-family: $font_4, $font_5, $font_6, $font_7, $font_8, $font_9, $font_10;
	padding: 0px;
	//background: #FDFAFB;
    //border: 1px solid #E0E0EA;
	weight:400;
}
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	padding: 0.5em 10px;
	font-size: 110%;
	margin: 0 0 10px;
}
@media(max-width: 768px) {
	footer ul {
		padding: 0;
	}
	.logo-icon {
		background-image:none;
	}
	.logo {
		padding-left: 5px;
	}
}
.downloadButtons {
	margin-bottom: 53px;
	.btn-group {
		float:right;
		&.open>.btn-default.dropdown-toggle {
			color: $white;
			background-color: $color_nile_blue_approx;
		}
	}
	.download-button {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		font-family: $font_1;
		color: $white;
		font-size: 13px;
		background-color: $color_rhino_approx;
		padding: 5px 10px;
		margin: 21px 0 5px 5px;
		float: right;
		border: 1px solid $color_chambray_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 2px $color_quill_gray_approx;
		text-decoration: none;

		.glyphicon-download-alt:before {
			padding: 0 5px 0 0;
		}

		&:hover {
			color: $white;
			background-color: $color_nile_blue_approx;
			text-decoration: none;
		}
		&:active {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			margin-top: 22px;
		}
	}
}
:focus, a:focus {
	outline: none;
}
.btn {
	&:focus {
		outline: none;
	}
	&:active {
		&:focus {
			outline: none;
		}
		&.focus {
			outline: none;
		}
	}
	&.active {
		&:focus {
			outline: none;
		}
		&.focus {
			outline: none;
		}
	}
	&.focus {
		outline: none;
	}
}
.btn-color {
	color: white;
}
.container .btn {
	background-color: $color_rhino_approx;
	&:focus {
		background-color: $color_rhino_approx;
		color: white;
	}
	&:hover {
		background-color: $color_nile_blue_approx;
		color: white;
	}
}

h4.panel-title, .tutorial h4.panel-title  {
	font-size: 13px;
}

.error-template {
	padding: 40px 15px;
	text-align: center;
}
.error-actions {
	margin-top:15px;
	margin-bottom:15px;
}
.error-actions .btn {
	margin-right:10px;
}

.contribute-links {
	font-size: 11px;
	margin:-20px 0 0 0;
	padding:0;
}

.navbar {
	min-height: 40px;
}

.navbar.navbar-default {
	line-height: 18px;
}

.navbar-default .navbar-nav>li>a {
	line-height: 11px;
}

.navbar-form {
	margin-top: 4px;
	margin-bottom: 2px;
}

// AnchorJS
.anchorjs-link:hover {
	text-decoration: none;
}

hr {
	border: 2px solid #DDD;
	margin: 15px 0 5px 0;
}

// last mofidied date styling
#timestamp {
	font-size: 80%;
	margin-top: 50px;
	margin-bottom: 10px;
}

.timeago {
	font-size: 10px;
}
