@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    #disqus_thread,
    .contribute-links,
    .download-button,
    .hidden-xs,
    footer,
    nav.navbar {
        display: none;
    }

    h2,
    h3 {
        page-break-before: avoid;
    }

    .highlight .code pre,
    .highlight pre code,
    code,
    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .highlight .gutter {
        display: none;
    }
    
    .no-print, .no-print *
    {
        display: none !important;
    }
}