.scrollUpButton {
    display: none;
    opacity: 0.6;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background: #000;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}
.scrollUpButton:hover, .scrollUpButton:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
    opacity: 1;
}