.search {
    .pagination {
        li {
            cursor: pointer;
        }
    }
    #searchResults {
        .searchResult {
            margin-bottom: 20px;
            a {
                font-size: 110%;
            }
            .summary {
                color: #545454;
                margin-top: 5px;
                em {
                  color: #6A6A64;
                }
            }
            .search-video{
              margin-top: 5px;
              img.thumbnail{
                max-height: 100px;
              }
            }
            em {
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}
.container.search {
    .btn {
        background-color: white;
        &:focus,
        &:hover {
            color: black;
        }
    }
    .input-group-btn:last-child > .btn {
        height: 34px;
    }
}
.multiselect-container li.active {
    background-color: #F4F4F4;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: black;
    background-color: #F4F4F4;
}
.dropdown-menu {
    opacity: 0.9;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #1e3648;
  background: -moz-linear-gradient(left, #1e3648 10%, rgba(113,174,252, 0) 42%);
  background: -webkit-linear-gradient(left, #1e3648 10%, rgba(113,174,252, 0) 42%);
  background: -o-linear-gradient(left, #1e3648 10%, rgba(113,174,252, 0) 42%);
  background: -ms-linear-gradient(left, #1e3648 10%, rgba(113,174,252, 0) 42%);
  background: linear-gradient(to right, #1e3648 10%, rgba(113,174,252, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #1e3648;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
