.search {
  #searchResults {
    .searchResult {
      margin-bottom: 20px;
      a {
        font-size: 110%;
      }
      .summary {
        color: gray;
      }
    }
  }
}

.container.search {
    .btn {
        background-color: white;
        &:focus, &:hover {
            color: black;
        }
    }
    .input-group-btn:last-child > .btn {
        height: 34px;
    }
}