//colors
$black: black;
$color_alto_approx: #dddddd;
$color_wild_sand_approx: #f5f5f5;

.tutorial {
	.navmenu-default .navmenu-brand {
		color: #1d3649;
	}
	h1 {
		font-size: 200%;
		margin-bottom: 0;
	}
	h2 {
		font-size: 160%;
		font-weight: bold;
	}
	h3 {
		font-size: 130%;
		font-weight: bold;
		margin: 30px 0 10px;
		padding: 0;
		a {
			color: $black;
			&:visited {
				color: $black;
			}
		}
	}
	h4 {
		font-size: 120%;
		&.product-integration {
			border-bottom: 2px solid $black;
			padding-bottom: 10px;
		}
	}
	h5 {
		font-size: 110%;
		font-weight: bold;
	}
	p {
		font-size: 100%;
	}
	ul {
		margin-bottom: 5px;
	}
	ol li p {
		margin-bottom: 2px;
	}
	ol {
		line-height: 1.7em;
	}
	img {
		max-width: 100%;
		margin: 15px auto 15px auto;
		display: block;
	}
	.sidebar {
		padding: 23px 0 0 7px;
		ul {
			// affects all ULs in the sidebar
			list-style-type: none;
			padding: 0;
			margin-bottom: 0;
			margin-left: 0;
			a {
				padding: 4px 0;
				margin-bottom: 10px;
				font-size: 115%;
				margin: 0;
				white-space: normal;
				&:hover {
					color: $black;
				}
			}
			&.dropdown-menu.navmenu-nav {
				padding: 0;
				margin-bottom: 10px;
			}
		}
		.navmenu-default .navmenu-nav.dropdown-menu {
			background-color: inherit;
			> li {
				// affects every LI inside the nav element of the top level ("Founation" and alike)
				padding: 0 0 0 10px;
				a {
					font-size: 100%;
				}
			}
			> li.active { 
				// affects every active LI inside the nav element of the top level ("Founation" and alike)
				padding: 0 0 0 10px;
				&:hover {
					background-color:white;
				}
				a {
					background-color: inherit;
					color: #164167;
					font-weight: bold;
				}
				> ul {
					background-color: #f5f5f5;
					border-left: 1px solid #6aa8c3;
					padding-left: 0;
					> li {
						list-style-type: none;
						&.active {
							background-color: #f5f5f5;
							&.nochildren {
								background-color: #89d1ef;
							}
							a {
								font-weight: bold;
							}
							font-weight: bold;
							> ul {
								background-color: #bedfec;
								padding-left: 0;
								> li { 
									// child tutorials
									line-height: 1.5em;
									&.active {
										background-color: #89d1ef;
										> a {
											font-weight: bold;
											padding: 0 0 0 15px;
										}
									}
									&.parent-active {
										> a {
											font-weight: bold;
										}
									}
									> a {
										padding: 0 0 0 15px;
										font-weight: normal;
										color: $black;
										font-size: 80%;
										text-decoration: none;
										&:hover {
											text-decoration: underline;
											color: #3c4646;
										}
									}
									> ul {
										background-color: #bedfec;
										> li { 
											// grand-child tutorials
											//margin-left: 5px;
											font-weight: bold;
											&.active {
												background-color: #89d1ef;
												> a {
													font-weight: bold;
												}
											}
											> a {	
												font-weight: normal;
												color: $black;
												font-size: 70%;
												text-decoration: none;
												padding: 0 0 0 20px;
												
												&:hover {
													text-decoration: underline;
													color: #3c4646;
												}
											}
										}
									}
								}
							}
						}
						> a {
							color: $black;
							font-size: 90%;
							text-decoration: none;
							font-weight: normal;
							padding:0 0 0 10px;
							&:hover {
								text-decoration: underline;
								color: #3c4646;
							}
						}
					}
				}
			}
		}
	}
	.navmenu {
		width: 100%;
		border-style: none;
		background-color: inherit;
	}
	ul li {
		line-height: 1.7em;
	}
	.outerbreadcrumb.row {
		background-color: #f5f5f5;
		border-radius: 4px;
		margin-right:0;
		margin-left:0;
		padding: 8px 15px;
		.rightPart {
			text-align: right;
			padding-right: 0;
			width: 130px;
			float: right;
			ul.relevantTo {
				margin-bottom: 0;
				padding: 0;
				-webkit-padding-start: 0;
				li {
					display: inline-block;
					background-repeat: no-repeat;
					padding-left: 25px;
					line-height: 1.8em;

					&.ios {
						background-image: url(../assets/personas/ios.png);
					}
					&.android {
						background-image: url(../assets/personas/android.png);
					}
					&.cordova {
						background-image: url(../assets/personas/cordova.png);
					}
					&.hybrid {
						background-image: url(../assets/personas/hybrid.png);
					}
					&.windows {
						background-image: url(../assets/personas/windows8.png);
					}
					&.windows8 {
						background-image: url(../assets/personas/windows8.png);
					}
					&.windows10 {
						background-image: url(../assets/personas/windows10.png);
					}
					&.windowsphone8 {
						background-image: url(../assets/personas/windowsphone8.png);
					}
					&.windowsphone10 {
						background-image: url(../assets/personas/windowsphone10.png);
					}
					&.javascript {
						background-image: url(../assets/personas/javascript.png);
					}
				}
			}
		}
		.leftPart {
			padding-left: 0;
			float: none;
			width: auto;
    	//overflow: hidden;
			.breadcrumb {
				margin-bottom: 0;
				padding: 0;

				.dropdown-menu {
					li:first-of-type:hover {
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
					}
				}
			}
		}
	}
	.highlight button.clipboard {
		padding: 0 5px 0 5px;
	}
	#boxes {
		a:hover {
			text-decoration: none;
		}
		.boxBtn {
		    display: inline-block;
		    height: 120px;
		    width: 170px;
		    background-color: #f5f5f5;
		    border-bottom: 35px solid #325c80;
		    margin-right: 10px;
			margin-bottom: 14px;
		}
		.boxBtn:hover {
			border-bottom: 35px solid #1d3649;
		}
		.boxPlatform {
		    line-height: 49px;
		    color:white;
		}
		.boxBtn img {
			margin: 7px 0 0 52px;
			height: 72px;
		}
	}
	.tutorial-center-div {
		padding-left: 25px;
	}
	#categoryBoxes img {
		height: 62px;
		padding: 0;
		margin: 9px auto auto auto;
	}
	.categoryBox-start-here, .categoryBox-sdk, .categoryBox-security, .categoryBox-more  {

		height: 100px;
		width:206px;
		display:inline-block;
		text-align: center;
		font-size: 14px;
		color: #264a60;
		font-family: "Helvetica Neue Medium", Helvetica, Arial;
	}
	.categoryBox-start-here {
		background-color: #c1e6fe;
	}
	.categoryBox-start-here:hover {
		background-color: #bbdff3;
	}
	.categoryBox-sdk {
		background-color: #9be1d9;
	}
	.categoryBox-sdk:hover {
		background-color: #9dd4ca;
	}
	.categoryBox-security {
		background-color: #c4e47a;
	}
	.categoryBox-security:hover {
		background-color: #b6cf74;
	}
	.categoryBox-more {
		background-color: #98d3fd;
	}
	.categoryBox-more:hover {
		background-color: #8fc9eb;
	}
	hr {
		border: 1px solid #c8d2d2;
		margin: 15px 0 5px 0
	}
}

#tutorials-list {
	h2 {
		font-size: 130%;
		font-weight: bold;
		margin: 30px 0 10px;
		padding: 0;
		a {
			color: $black;
			&:visited {
				color: $black;
			}
		}
	}
}

.videoHolder {
	float: right;
}

video {
	background-size: 100% 100%;
}
