---
layout: default
title: Blog
---
<section class="container blogIndex" role="main">
    <h2 class="no-anchor">Mobile Foundation Blog</h2>
    <p>Posts provide additional technical know-how that is required when working with Mobile Foundation offerings. Posts are broadly based on development, product features, and announcements. </p>
    <blockquote>Contribute a blog post! see <a href="https://github.com/MobileFirst-Platform-Developer-Center/DevCenter/blob/master/contributing.md">our contribution guidelines</a>.</blockquote>
    <blockquote>Read <a href="{{ site.baseurl }}/blog/tag/Announcement/">product announcements</a>.</blockquote>
    <blockquote>Read <a href="{{ site.baseurl }}/blog/tag/iFix/">iFix availability announcements</a>.</blockquote>
    <div id="flashBlogPosts">
       <div class="container" role="section">
          <span class="flashPost">Please read this blog: </span><span class="flashPostTitle"><a href="https://mobilefirstplatform.ibmcloud.com/blog/2017/06/08/mobile-foundation-dashdb-connectivity-issue/">Database Connectivity issues on IBM MobileFoundation because of a security update to dashDB for Transactions service
    </a></span>
       </div>
    </div>
    <section id="blogPostsList" class="container">
<!--       <h3 class="no-anchor">Posts on iFix availability</h3>
        <div class="twoColumns">
        {% for post in paginator.posts %}
         {% for tag in post.tags %}
            {% if tag == 'iFix' %}
            <div class="postItem inline">

                <p class="postDate">{{post.date | date: '%B %d, %Y'}}</p>
                <p class="postTitle"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></p>
                <p class="postExcerpt">{{ post.excerpt | markdownify | strip_html | strip_newlines | truncatewords: 30}}</p>

            </div>
              {% endif %}
              {% endfor%}
        {% endfor %}
        </div> -->

        <h3 class="no-anchor">Posts on product features</h3>
        <div class="twoColumns">
        {% for post in paginator.posts %}
          {% for tag in post.tags %}
            {% if tag == 'iFix' %}
            {% assign found_ifix = true %}
              {% break %}
            {% endif %}

              {% endfor%}
            {% if found_ifix != true %}
            <div class="postItem inline">

                <p class="postDate">{{post.date | date: '%B %d, %Y'}}</p>
                <p class="postTitle"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></p>
                <p class="postExcerpt">{{ post.excerpt | markdownify | strip_html | strip_newlines | truncatewords: 30}}</p>

            </div>

            {% endif %}
            {% assign found_ifix = false %}
        {% endfor %}
      </div>
      <br>
      <!-- Pagination links -->
     <nav>
          <ul class="pagination">
              <li {% if paginator.previous_page == null %}class="disabled"{% endif %}>
                  <a href="{% if paginator.previous_page %}{{ paginator.previous_page_path | prepend: site.baseurl}}{% else %}#{% endif %}" aria-label="Previous"><span aria-hidden="true">Previous</span></a>
              </li>
              <li {% if paginator.next_page == null %}class="disabled"{% endif %}>
                  <a href="{% if paginator.next_page %}{{ paginator.next_page_path | prepend: site.baseurl}}{% else %}#{% endif %}" aria-label="Next"><span aria-hidden="true">Next</span></a>
              </li>
          </ul>
      </nav>
      <br>
      <hr/>
      <br>
        <h3 class="no-anchor">Browse through all blog posts</h3>
          <div class="twoColumns">
          {% for post in paginator.posts %}
              <div class="postItem inline">
                  <p class="postDate">{{post.date | date: '%B %d, %Y'}}</p>
                  <p class="postTitle"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></p>
                  <p class="postExcerpt">{{ post.excerpt | markdownify | strip_html | strip_newlines | truncatewords: 20}}</p>
              </div>
          {% endfor %}
        </div>
        <!-- Pagination links -->
       <nav>
            <ul class="pagination">
                <li {% if paginator.previous_page == null %}class="disabled"{% endif %}>
                    <a href="{% if paginator.previous_page %}{{ paginator.previous_page_path | prepend: site.baseurl}}{% else %}#{% endif %}" aria-label="Previous"><span aria-hidden="true">Previous</span></a>
                </li>
                <li {% if paginator.next_page == null %}class="disabled"{% endif %}>
                    <a href="{% if paginator.next_page %}{{ paginator.next_page_path | prepend: site.baseurl}}{% else %}#{% endif %}" aria-label="Next"><span aria-hidden="true">Next</span></a>
                </li>
            </ul>
        </nav>

    </section>



    <hr>
    <section>
        <h3 class="no-anchor">More blogs to follow</h3>
        <ul class="moreBlogs">
            <li><b><a href="http://ibmmobiletipsntricks.com/" target="_blank">IBM Mobile Tips 'n' Tricks</a></b></li>
            <li><b><a href="http://www.tricedesigns.com/tag/mobilefirst/" target="_blank">tricedesigns</a></b></li>
            <li><b><a href="https://www.raymondcamden.com/tags/mobilefirst/" target="_blank">Raymond Camden’s blog</a></b></li>
            <li><b><a href="https://www.ibm.com/developerworks/community/blogs/mobileblog/?lang=en" target="_blank">The Mobile Frontier</a></b></li>
            <li><b><a href="https://www.ibm.com/developerworks/community/blogs/mobile/?lang=en" target="_blank">IBM Mobile Development</a></b></li>
            <li><b><a href="https://www.ibm.com/developerworks/community/blogs/worklight/?lang=en" target="_blank">IBM Worklight’s previous blog</a></b></li>
            <li><b><a href="https://www.ibm.com/developerworks/community/blogs/worklightsmobileplayground/?lang=en" target="_blank">IBM Worklight Mobile Playground’s previous blog</a></b></li>
        </ul>
    </section>
</section>
