---
layout: default
title: MobileFirst Platform Blog
custom_css:
 - css/blog.css
---
<div class="container">
    <h2>MobileFirst Platform Blog</h2>
    <div id="blogPosts" class="container">
          <div class="twoColumns">
            {% for post in paginator.posts %}
            <div class="postItem">
              <p class="postDate">{{post.date | date: '%B %d, %Y'}}</p>
              <p class="postTitle"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></p>
              <p class="postExcerpt">{{ post.excerpt | markdownify | strip_html | strip_newlines | xml_escape | truncatewords: 20}}</p>
            </div>
            {% endfor %}
          </div>
    </div>

    <!-- Pagination links -->
    <nav>
      <ul class="pagination">
        <li {% if paginator.previous_page == null %}class="disabled"{% endif %}>
          <a href="{% if paginator.previous_page %}{{ paginator.previous_page_path | prepend: site.baseurl}}{% else %}#{% endif %}" aria-label="Previous" >
            <span aria-hidden="true">Previous</span>
          </a>
        </li>
        <li {% if paginator.next_page == null %}class="disabled"{% endif %}>
          <a href="{% if paginator.next_page %}{{ paginator.next_page_path | prepend: site.baseurl}}{% else %}#{% endif %}" aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>
      </ul>
    </nav>

    <hr>
    <h3>More blogs to follow</h3>
    <ul class="moreBlogs">
        <li><b><a href="https://www.ibm.com/developerworks/community/blogs/mobileblog/?lang=en" target="_blank">The Mobile Frontier</a></b> - Identify concepts and observations related to the re/evolution of mobile devices.</li>
        <li><b><a href="https://www.ibm.com/developerworks/community/blogs/mobile/?lang=en" target="_blank">Mobile Development</a></b> - Information and announcements for mobile developers, links to how-to content, technology primers,events, and other useful information for building mobile applications.</li>
        <li><b><a href="http://www.tricedesigns.com/tag/mobilefirst/" target="_blank">tricedesigns</a></b></li>
        <li><b><a href="http://www.raymondcamden.com/tag/mobilefirst" target="_blank">Raymond Camden’s blog</a></b></li>
        <li><b><a href="https://www.ibm.com/developerworks/community/blogs/dhuyvett/?lang=en" target="_blank">David Dhuyvetter’s blog</a></b></li>
        <li><b><a href="https://www.ibm.com/developerworks/community/blogs/worklight/?lang=en" target="_blank">IBM Worklight’s previous blog</a></b></li>
        <li><b><a href="https://www.ibm.com/developerworks/community/blogs/worklightsmobileplayground/?lang=en" target="_blank">IBM Worklight Mobile Playground’s previous blog</a></b></li>
    </ul>
</div>
