---
layout: default
---
<div class="container-fluid blogpost" itemscope itemtype="http://schema.org/TechArticle">
    <div class="row">
        <div class="hidden-xs col-sm-2">
        </div>
        <div class="col-sm-8">
            <h1 itemprop="name" class="no-anchor">{{page.title}}</h1>
            <div class="page-header">
                <h4 class="no-anchor">
                  <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{page.author.name}}</span></span>
                  <small itemprop="datePublished" content="{{page.date}}">{{ page.date | date: '%B %d, %Y' }}</small>
                  <span class="disqus-comment-count" data-disqus-identifier="{{page.url}}"></span>
                </h4>
                {% if page.tags %}

                  {% for tag in page.tags %}
                    <a href="{{site.baseurl}}/blog/tag/{{tag}}/">
                      <span class="label label-info">
                      {{tag}}
                      </span>
                    </a>
                  {% endfor %}

                {% endif %}
            </div>
            {{content}}

            {% include disqus.html %}
        </div>
        <div class="hidden-xs col-sm-2">
        </div>
    </div>
</div>
