---
---
<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
	<!-- Jasny Bootstrap core CSS -->
	<link href="{{site.baseurl}}/lib/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{{site.baseurl}}/css/combined.css" rel="stylesheet">
	{% include analytics.html %}
	<div id="wrap">
		{% include navigation.html %}
		{% include printhead.html %}
		{{ content }}
	</div>
		{% include footer.html %}
</body>

</html>
