---
layout: default
custom_js:
- js/tutorial.js
---
<head>
  <link href="{{site.url}}{{site.baseurl}}{{page.url}}" rel="canonical"/>
</head>
<section class="container lab" role="main">
    <h2>{{page.title}}</h2>

    <ul class="nav nav-tabs labs">
      {% for tab in page.tabs %}
        <li role="presentation" {% if page.url contains tab.path %} class="active" {% endif %}><a href="{{site.baseurl}}{{tab.path}}">{{tab.name}}</a></li>
      {% endfor %}
    </ul>

    <br>
    {{content}}

    {% include disqus.html %}
</section>
