---
layout: default
custom_js:
- lib/jasny-bootstrap/js/jasny-bootstrap.js
- js/tutorial.js
---
<div class="container-fluid tutorial">
    <div class="row">
        <div class="sidebar hidden-xs col-lg-2 col-sm-3">
            {% include tutorialNav.html %}
        </div>
        <div class="col-sm-9 col-lg-8 tutorial-center-div">
            <h1>{{ page.title}}</h1>
            {% include contribute.html %}
            {% include breadcrumb.html %} {% if page.downloads %}
            <div class="downloadButtons hidden-xs">
                {% for download in page.downloads %}
                  <a class="download-button" href="{{download.url}}">
                      <span class="glyphicon glyphicon-cloud-download"></span>
                      {{download.name}}
                  </a>
                {% endfor %}
            </div>
            {% endif %}
            {{ content }}

              {% if page.show_children %}
                {% if page.show_children_title %}
                  <h2 class="hidden-print">{{page.show_children_title}}</h2>
                {% endif %}
                {% include show-children.html children=page.children %}
              {% endif %}

            {% include disqus.html %}
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>
