---
layout: default
custom_css:
- lib/jasny-bootstrap/css/jasny-bootstrap.css
- css/tutorial.css
custom_js:
- lib/jasny-bootstrap/js/jasny-bootstrap.js
- js/tutorial.js
---
<div class="container-fluid tutorial">
  <div class="row">
    <div class="hidden-xs col-sm-2">
      {% include tutorialNav.html %}
    </div>
    <div class="col-sm-8">
      <h1>{{ page.title}}</h1>
      {% include breadcrumb.html %}
      {{ content }}

      {% assign documents = site.pages | sort: "weight" %}
      {% assign level = page.dir | remove_first: "/" | split:"/" | size %}
      {% assign childrenLevel = level | plus : 1 %}
      {% include show-children.html docs=documents dir=page.dir level=childrenLevel %}
    </div>
    <div class="hidden-xs col-sm-2">

    </div>
  </div>
</div>
